---
title: Larson Recipes &middot; Bread
color: pink
---

<div id="bread" class="section">
  <hgroup>
  <h1>
    <%=link_to('Larson Recipes', '/')%>
  </h1>
  <h2>
    Bread
  </h2>
  </hgroup>

  <nav class="nav nav-pills nav-fill">
    <a class="nav-item nav-link" href="#apricot-nut-bread">
      Apricot Nut Bread
    </a>
    <a class="nav-item nav-link" href="#banana-bread">
      Banana Bread
    </a>
    <a class="nav-item nav-link" href="#cheese-pretzels">
      Cheese Pretzels
    </a>
    <a class="nav-item nav-link" href="#butter-horn-rolls">
      Grandma Brower’s Butter Horn Rolls
    </a>
    <a class="nav-item nav-link" href="#oatmeal-blueberry-muffins">
      Oatmeal Blueberry Muffins
    </a>
    <a class="nav-item nav-link" href="#red-onion-fontine-sake-focaccia">
      Red Onion Fontina Sake Focaccia
    </a>
  </nav>
</div>

<div class="separator"></div>

<div class="recipe row">
  <div class="title col-md-12">
    <h2 id="apricot-nut-bread">Apricot Nut Bread</h2>
  </div>

  <div class="image col-md-6 web">
    <img class="img-fluid" src="<%= image_path('apricot_nut_bread_recipe.jpg') %>" alt="Apricot Nut Bread" />
  </div>

  <div class="instructions col-md-6">
    <div class="ingredients">
      <h3>Ingredients</h3>
      <ul>
        <li>1 12-ounce can apricot nectar</li>
        <li>¾ cup snipped dried apricots</li>
        <li>½ cup raisins</li>
        <li>2 cups all-purpose flour</li>
        <li>1 cup sugar</li>
        <li>1 tablespoon baking powder</li>
        <li>1 beaten egg</li>
        <li>⅓ cup milk</li>
        <li>2 tablespoons cooking oil</li>
        <li>½ cup chopped almonds</li>
      </ul>
    </div>

    <div class="directions">
      <h4>Directions</h4>
      <p>In saucepan combine 1 cup of the apricot nectar, apricots, and raisins; bring to boil.  Cool.  In bowl stir together flour, sugar, baking powder, and ½ teaspoon salt.  Combine egg, milk, oil and remaining nectar.  Add to dry ingredients, stirring just till smooth.  Fold in raisin mixture and nuts.  Turn into greased and floured 9x5x3-inch loaf pan.  Bake at 350 degrees for 60 minutes.  Cool in pan 10 minutes; remove loaf.  Cool.  Wrap and store overnight before slicing.</p>
    </div>
  </div>
</div>

<div class="separator"></div>

<div class="recipe row">
  <div class="title col-md-12">
    <h2 id="banana-bread">Banana Bread</h2>
  </div>

  <div class="image col-md-6 order-last">
    <img class="img-fluid" src="<%= image_path('banana_bread.jpg') %>" alt="Banana Bread" />
  </div>

  <div class="instructions col-md-6">
    <div class="ingredients">
      <h3>Ingredients</h3>
      <ul>
        <li>1 cup sugar</li>
        <li>1 ¼ cup flour</li>
        <li>½ cup vegetable oil</li>
        <li>½ teaspoon salt</li>
        <li>1 teaspoon baking soda</li>
        <li>2 eggs</li>
        <li>3 bananas</li>
      </ul>
    </div>

    <div class="directions">
      <h4>Directions</h4>
      <p>Blend well, bake 350 degrees for 1 hour.</p>
    </div>
  </div>
</div>

<div class="separator"></div>

<div class="recipe row">
  <div class="title col-md-12">
    <h2 id="cheese-pretzels">Cheese Pretzels</h2>
  </div>

  <div class="image col-md-6">
    <img class="img-fluid" src="<%= image_path('cheese_pretzels.jpg') %>" alt="Cheese Pretzels" />
  </div>

  <div class="instructions col-md-6">
    <div class="ingredients">
      <h3>Ingredients</h3>
      <ul>
        <li>1 package yeast</li>
        <li>1 tablespoon sugar</li>
        <li>2 cups cheddar cheese, shredded</li>
        <li>1 teaspoon salt</li>
        <li>4-5 cups flour</li>
        <li>1 egg</li>
      </ul>
    </div>

    <div class="directions">
      <h4>Directions</h4>
      <p>Dissolve yeast and sugar in 1½ cups warm water. Add 2 cups cheese, salt, and flour.</p>

      <p>Knead the two mixtures together, about 5 minutes, until elastic. Add flour as needed to keep from becoming too sticky.</p>

      <p>Shape pretzels and brush with egg. Salt the tops. Do not allow rising time. Bake 10-15 minutes at 425° on greased cookie sheet.</p>
    </div>
  </div>
</div>

<div class="separator"></div>

<div class="recipe row">
  <div class="title col-md-12">
    <h2 id="butter-horn-rolls">Grandma Brower’s <br/>Butter Horn Rolls</h2>
    <p>Makes 16 rolls.</p>
  </div>

  <div class="image col-md-6 order-last web">
    <img class="img-fluid" src="<%= image_path('butter_horn_rolls.jpg') %>" alt="Butter Horn Rolls"/>
  </div>

  <div class="instructions col-md-6">
    <div class="ingredients">
      <h3>Ingredients</h3>
      <ul>
        <li>1 cake compressed yeast or cake dry yeast</li>
        <li>1¼ teaspoons salt</li>
        <li>4-4½ cups flour</li>
        <li>½ cup melted shortening</li>
        <li>¼ cup sugar</li>
        <li>3 eggs, well beaten</li>
        <li>1 cup milk, scalded</li>
      </ul>
    </div>

    <div class="directions">
      <h4>Directions</h4>
      <p>Soften yeast in lukewarm milk. If compressed yeast is used, allow to stand 5 minutes. If dry yeast is used allow to stand 30 minutes. Add salt, shortening, sugar, and eggs. Add flour, a little at a time, beating thoroughly after each addition until the dough is just stiff enough to knead on lightly floured board. Knead until smooth and elastic. Cover with a damp cloth, set in a warm place, and allow to rise until doubled in bulk. (The dough made with dry yeast will need to rise overnight in warm place.) Work down. Allow to rise a second time. Turn onto lightly floured board. Roll out in circular shape. Cut into sections as you would pie, having each section about 3 inches wide at the outer edge. Begin at the outside and roll each section toward the center. Form into crescents. Place in well-oiled baking pans. Cover and let rise until triple in bulk. Bake in hot oven at 450° for 12-15 minutes.</p>

      <p>You can substitute whole wheat flour for ½ the white flour in the Buttern Horn Roll recipe. Add sufficient white flour to make a dough just stiff enough to knead. Proceed as you would for Butter Horn Rolls.</p>
    </div>
  </div>
</div>

<div class="separator"></div>

<div class="recipe row">
  <div class="title col-md-12">
    <h2 id="oatmeal-blueberry-muffins">Oatmeal Blueberry Muffins</h2>
  </div>

  <div class="image col-md-6 web">
    <img class="img-fluid" src="<%= image_path('oatmeal_blueberry_muffins.jpg') %>" alt="Oatmeal Blueberry Muffins" />
  </div>

  <div class="instructions col-md-6">
    <div class="ingredients">
      <h3>Ingredients</h3>
      <ul>
        <li>1 cup + 2 tablespoons flour</li>
        <li>6 ounces oatmeal</li>
        <li>⅓ cup + 1 tablespoon sugar (reserved)</li>
        <li>1 tablespoon baking powder</li>
        <li>½ teaspoon salt</li>
        <li>1 cup milk</li>
        <li>1 egg</li>
        <li>¼ cup vegetable oil</li>
        <li>1 cup blueberries</li>
        <li>1 teaspoon cinnamon</li>
      </ul>
    </div>

    <div class="directions">
      <h3>Directions</h3>
      <p>Preheat oven to 425 degrees. Line muffin cups with paper (or grease instead). Mix dry ingredients. Combine wet ingredients and add to dry. Fold in blueberries. Fill muffin cups ⅔ full. Combine reserved 1 tablespoon sugar with 1 teaspoon cinnamon. Sprinkle over muffins. Bake 20 minutes. (188 calories if using skim milk)</p>
    </div>
  </div>
</div>

<div class="separator"></div>

<div class="recipe row">
  <div class="title col-md-12">
    <h2 id="red-onion-fontine-sake-focaccia">Red Onion Fontina Sake Focaccia</h2>
  </div>

  <div class="instructions col-md-6">
    <div class="ingredients">
      <h3>Ingredients</h3>
      <ul>
        <li>1 package dry yeast</li>
        <li>Dash of sugar</li>
        <li>¾ cup warm water (100-110 degrees)</li>
        <li>2 ¾ cups flour</li>
        <li>4 teaspoons cornmeal</li>
        <li>1 teaspoon salt</li>
        <li>½ cup warm sake (100-110 degrees)</li>
        <li>1 ½ cups vertically sliced red onion</li>
        <li>½ teaspoon sake</li>
        <li>½ teaspoon olive oil</li>
        <li>Dash of black pepper</li>
        <li>1 teaspoon water</li>
        <li>1 egg, lightly beaten</li>
        <li>1 ¾ cups (7 ounces) shredded fontina cheese</li>
      </ul>
    </div>

    <div class="directions">
      <h4>Directions</h4>
      <p>Dissolve yeast and sugar in warm water; let stand for 5 minutes. Combine 2 ½ cups flour, cornmeal and salt and stir well. Stir warm sake into yeast mixture; immediately add to flour mixture and stir to combine. Knead dough for 8 minutes on floured surface. Add remaining flour if needed (dough will feel sticky). Place dough in bowl coated with oil. Cover and let rise for 30 minutes. Preheat oven to 400 degrees. Turn dough out onto baking sheet coated with 1 tablespoon cornmeal. Gently press into 12-inch circle. Let rise for 15 minutes. Combine red onion, ½ teaspoon sake, olive oil, and black pepper. Mix beaten egg with 1 tablespoon water and gently brush dough. Top dough with cheese, then onions. Sprinkle with thyme and 1 teaspoon kosher salt. Bake for 35 minutes until focaccia is deep golden brown and cheese is bubbly.</p>
    </div>
  </div>
</div>

<div class="separator"></div>
