---
title: Larson Recipes &middot; Cocktails
color: green
---

<hgroup>
<h1>
  <%=link_to('Larson Recipes', '/')%>
</h1>
<h2>
  Cocktails
</h2>
</hgroup>

<nav class="nav nav-pills nav-fill">
  <a class="nav-item nav-link" href="#rons-bloody-mary">
    Ron’s Bloody Mary
  </a>
  <a class="nav-item nav-link" href="#cherry-bounce">
    Cherry Bounce
  </a>
  <a class="nav-item nav-link" href="#gazpacho-liquor">
    Gazpacho Liquor
  </a>
  <a class="nav-item nav-link" href="#mulled-wine">
    Mulled Wine
  </a>
  <a class="nav-item nav-link" href="#one-block-street">
    One Block Street
  </a>
  <a class="nav-item nav-link" href="#michelada">
    Michelada
  </a>
</nav>

<div class="separator"></div>

<div class="recipe row">
  <div class="title col-md-12">
    <h2 id="rons-bloody-mary">Ron’s Bloody Mary</h2>
  </div>

  <div class="image col-md-6 order-last">
    <img class="img-fluid" src="<%= image_path('bloody_mary.jpg') %>" />
  </div>

  <div class="instructions col-md-6">
    <h3>Ingredients</h3>
    <ul>
      <li>1½ ounce vodka</li>
      <li>3 ounces tomato juice</li>
      <li>½ teaspoon Worchestershire</li>
      <li>3 drops Tabasco</li>
      <li>1 dash lemon juice</li>
      <li>Options:
        <ul>
          <li>Horseradish</li>
          <li>Dill pickle spear</li>
          <li>Celery</li>
          <li>Salt and pepper</li>
        </ul></li>
    </ul>

    <h4>Directions</h4>
    <p>Mix together. Serve over ice.</p>
  </div>
</div>

<div class="separator"></div>

<div class="recipe row">
  <div class="title col-md-12">
    <h2 id="cherry-bounce">Cherry Bounce</h2>
  </div>

  <div class="image col-md-6">
    <img class="img-fluid" src="<%= image_path('cherry_bounce.jpg') %>" />
  </div>

  <div class="instructions col-md-6">
    <h3>Ingredients</h3>
    <ul>
      <li>4 cups sour cherries</li>
      <li>1 quart vodka</li>
      <li>1 cup sugar</li>
      <li>½ cup water</li>
    </ul>

    <h4>Directions</h4>
    <p>Stir together ingredients in a large glass jar until the sugar is fully dissolved. Place jar in a dark, cool cupboard. 5-6 months after mixing the drink will be ready to enjoy.</p>

    <p>Find a sour cherry tree in July and pick 4 cups.  Mix cherries, vodka, sugar and water in a jar.  Store in a cool, dark basement until Christmas.  Spend the many months waiting looking for incredibly cute small cocktail glasses to serve the bounce with on Christmas Eve.</p>
  </div>
</div>

<div class="separator"></div>

<div class="recipe row">
  <div class="title col-md-12">
    <h2 id="gazpacho-liquor">
      Gazpacho Liquor</h2>
  </div>

  <div class="image col-md-6">
    <div class="row">
       <div class="col-md-6">
         <img class="img-fluid" src="<%= image_path('gazpacho_liquor_1.jpg') %>" />
       </div>
       <div class="col-md-6">
         <img class="img-fluid" src="<%= image_path('gazpacho_liquor_2.jpg') %>" />
      </div>
    </div>
  </div>

  <div class="instructions col-md-6">
    <h3>Ingredients</h3>
    <ul>
      <li>750-ml bottle of vodka or tequila</li>
      <li>3 large poblano chiles</li>
      <li>1 red bell pepper, cut into quarters</li>
      <li>4 tomatoes, halved</li>
      <li>1 large Vidalia onion, cut into 1" slices</li>
      <li>1 cucumber, peeled and halved lengthwise</li>
      <li>2 celery stalks, trimmed</li>
      <li>1 clove garlic, halved</li>
    </ul>

    <h4>Directions</h4>
    <p>@TODO</p>
  </div>
</div>

<div class="separator"></div>

<div class="recipe row">
  <div class="title col-md-12">
    <h2 id="mulled-wine">Mulled Wine</h2>
  </div>

  <div class="instructions col-md-6">
    <h3>Ingredients</h3>
    <ul>
      <li>1 cup water</li>
      <li>1 cinnamon stick</li>
      <li>4 cardamom seeds</li>
      <li>2 cloves</li>
      <li>1 heaped tablespoon honey</li>
      <li>2 tablespoons homemade vanilla sugar, or 2 tablespoons vanilla and ¼ vanilla bean</li>
      <li>1 bottle red wine</li>
      <li>½ cup vodka (optional)</li>
      <li>½ cup almonds</li>
      <li>¼ cup raisins</li>
      <li>1 orange sliced</li>
    </ul>

    <h4>Directions</h4>
    <p>In a small pot, bring the water to a boil.  Add cinnamon, cardamom, cloves, honey and vanilla sugar and mix it well.  Let this sweet spice mixture boil for about 15 minutes to release the flavor of the spices.</p>

    <p>Meanwhile, heat the red wine gently in a medium pot.  Make sure it does not reach more than 170, otherwise the alcohol will evaporate.  Add ⅓ of the sweet spice mixture.  Add almonds and raisins.  Add more spice mixture to taste, until the mulled wine has the sweetness to your liking.  Add the vodka.  Add a slice of orange to each cup, add mulled wine to serve.</p>
  </div>
</div>

<div class="separator"></div>

<div class="recipe row">
  <div class="title col-md-12">
    <h2 id="one-block-street">One Block Street</h2>
  </div>

  <div class="image col-md-6 order-last">
    <img class="img-fluid" src="<%= image_path('one_block_street.jpg') %>" />
  </div>

  <div class="instructions col-md-6">
    <h3>Ingredients</h3>
    <ul>
      <li>1 ½ ounces gin</li>
      <li>1 ounce Gordy’s Fine Brine</li>
      <li>½ ounce lime juice</li>
      <li>¼ ounce rich simple syrup</li>
      <li>2 dashes orange bitters</li>
    </ul>

    <h4>Directions</h4>
    <p>Mix together. Serve over ice.</p>
  </div>
</div>

<div class="separator"></div>

<div class="recipe row">
  <div class="title col-md-12">
    <h2 id="michelada">Michelada</h2>
  </div>

  <div class="image col-md-6">
    <img class="img-fluid" src="<%= image_path('michelada.jpg') %>" />
  </div>

  <div class="instructions col-md-6">
    <h3>Ingredients</h3>
    <ul>
      <li>Lime glass/coarse salt</li>
      <li>Little ice</li>
    </ul>
    <ul>
      <li>2 dashes Maggi</li>
      <li>2 dashes tobasco/hot sauce</li>
      <li>2 dashes Worchestershire</li>
      <li>Pinch salt</li>
      <li>1 lime</li>
      <li>⅓ cup clamato</li>
      <li>Coarse pepper</li>
      <li>Good, darker Mexican beer</li>
    </ul>

    <h4>Directions</h4>
    <p>Mix together. Serve over ice.</p>
  </div>
</div>

<div class="separator"></div>
