---
title: Larson Recipes &middot; Desserts
color: lavender
---

<div id="desserts" class="section">
  <hgroup>
  <h1>
    <%=link_to('Larson Recipes', '/')%>
  </h1>
  <h2>
    Desserts
  </h2>
  </hgroup>

  <nav class="nav nav-pills nav-fill">
    <a class="nav-item nav-link" href="#apple-crisp">
      Apple Crisp
    </a>
    <a class="nav-item nav-link" href="#bananas-foster">
      Bananas Foster
    </a>
    <a class="nav-item nav-link" href="#butter-frosting">
      Butter Frosting
    </a>
    <a class="nav-item nav-link" href="#chocolate-cherry-cake">
      Chocolate Cherry Cake
    </a>
    <a class="nav-item nav-link" href="#chocolate-frosting">
      Chocolate Frosting
    </a>
    <a class="nav-item nav-link" href="#chocolate-topping">
      Chocolate Topping
    </a>
    <a class="nav-item nav-link" href="#coffee-cake">
      Coffee Cake
    </a>
    <a class="nav-item nav-link" href="#cookies">
      Cookies
    </a>
    <a class="nav-item nav-link" href="#crazy-cake">
      Crazy Cake
    </a>
    <a class="nav-item nav-link" href="#devils-float">
      Devils Float
    </a>
    <a class="nav-item nav-link" href="#fresh-fruit-sauce">
      Fresh Fruit Sauce
    </a>
    <a class="nav-item nav-link" href="#fruitcake">
      Fruitcake
    </a>
    <a class="nav-item nav-link" href="#jello-recipes">
      Jell-O Recipes
    </a>
    <a class="nav-item nav-link" href="#lefse">
      Lefse
    </a>
    <a class="nav-item nav-link" href="#orange-rolls-frosted">
      Orange Rolls Frosted
    </a>
    <a class="nav-item nav-link" href="#pies">
      Pies
    </a>
    <a class="nav-item nav-link" href="#tapioca-pudding">
      Tapioca Pudding
    </a>
  </nav>

  <!-- Print Image -->
  <section class="background print" id="antelope" /></section>

  <div class="separator"></div>

  <div class="recipe row">
    <div class="title col-md-12">
      <h2 id="apple-crisp">Apple Crisp</h2>
      <p>Makes 6 to 8 servings</p>
    </div>

    <div class="image col-md-6 order-last web">
      <img class="img-fluid" src="<%= image_path('apple_crisp.jpg') %>" />
    </div>

    <div class="instructions col-md-6">
      <div class="ingredients">
        <h3>Ingredients</h3>
        <ul>
          <li>4 cups sliced, pared, and cored baking apples (about 6 medium)</li>
          <li>⅔ to ¾ cup brown sugar (packed)</li>
          <li>½ cup flour</li>
          <li>½ cup rolled oats</li>
          <li>¾ teaspoon cinnamon</li>
          <li>¾ teaspoon nutmeg</li>
          <li>⅓ cup soft butter</li>
        </ul>
      </div>

      <div class="directions">
        <h3>Directions</h3>
        <p>Heat oven to 375℉. Place sliced apples in greased 8 inch square pan or 1 ½ quart baking dish. Blend remaining ingredients until mixture is crumbly. Spread over apples. Bake 30 to 35 minutes, or until apples are tender and topping is golden brown. Serve warm with cream or ice cream.</p>
      </div>

      <div class="directions">
        <h3>Variations</h3>
        <dl>
          <dt>Peach crisp</dt>
          <dd>Use 1 can (1 pound, 13 ounces) sliced peaches, drained, in place of apples. Use ⅔ cup sugar.</dd>
          <dt>Cherry crisp</dt>
          <dd>Use 1 can cherry pie filling in place of apples. Use ⅔ cup sugar.</dd>
          <dt>Pineapple crisp</dt>
          <dd>Use 2 cans (12 ounce each) pineapple tidbits, drained, or 2 cans (1 pound, 4 ounce each) crushed pineapple in place of apples. Use ⅔ cup sugar.</dd>
          <dt>Apricot crisp</dt>
          <dd>Use 2 cans (1 pound each) apricots, drained, in place of apples. Use ⅔ cup sugar.</dd>
        </dl>
      </div>
    </div>
  </div>

  <div class="separator"></div>

  <div class="recipe row">
    <div class="title col-md-12">
      <h2 id="bananas-foster">Bananas Foster</h2>
      <p>1 serving</p>
    </div>

    <div class="image col-md-6">
      <img class="img-fluid" src="<%= image_path('bananas_foster.png') %>" />
    </div>

    <div class="instructions col-md-6">
      <div class="ingredients">
        <h3>Ingredients</h3>
        <ul>
          <li>1 tablespoon butter</li>
          <li>2 tablespoons brown sugar</li>
          <li>1 ripe banana, peeled and sliced lengthwise</li>
          <li>Dash cinnamon</li>
          <li>½ ounce banana liqueur</li>
          <li>1 ounce white rum</li>
        </ul>
      </div>

      <div class="directions">
        <h3>Directions</h3>
        <p>Melt butter in a chafing dish. Add brown sugar and blend well. Add banana and sauté. Sprinkle with cinnamon. Pour over banana liqueur and rum and ignite, basting banana with flaming liquid. Serve when flame dies out. </p>
      </div>

      <div class="notes">
        <h5>Notes</h5>
        <p>Cut back on liqueur and rum.</p>
        <p>4-9-01: 32nd anniversary of Ron being drafted into the Army.</p>
      </div>
    </div>
  </div>

  <div class="separator"></div>

  <div class="recipe row">
    <div class="title col-md-12">
      <h2 id="butter-frosting">Butter Frosting</h2>
    </div>

    <div class="image col-md-6 order-last web">
      <img class="img-fluid" src="<%= image_path('butter_frosting.jpg') %>" />
    </div>

    <div class="instructions col-md-6">
      <div class="ingredients">
        <h3>Ingredients</h3>
        <ul>
          <li>¼ cup soft butter</li>
          <li>2 cups confectioners sugar</li>
          <li>¼ teaspoon vanilla</li>
          <li>2 ½ tablespoon milk</li>
        </ul>
      </div>

      <div class="directions">
        <h3>Directions</h3>
        <p>Blend</p>
      </div>

      <div class="notes">
        <h5>Notes</h5>
        <p>Fixed for William’s first birthday</p>
      </div>
    </div>
  </div>

  <div class="separator"></div>

  <div class="recipe row">
    <div class="title col-md-12">
      <h2 id="chocolate-cherry-cake">Chocolate Cherry Cake</h2>
    </div>

    <div class="image col-md-6 web">
      <img class="img-fluid" src="<%= image_path('chocolate_cherry_cake.jpg') %>" />
    </div>

    <div class="instructions col-md-6">
      <div class="ingredients">
        <h3>Ingredients</h3>
        <ul>
          <li>Any box mix dark chocolate cake</li>
          <li>1 can cherry pie</li>
          <li>3 eggs</li>
          <li>1 teaspoon vanilla or almond flavoring</li>
        </ul>
      </div>

      <div class="directions">
        <h3>Directions</h3>
        <p>Follow baking instructions on box.</p>

        <hr/>

        <h3>Frosting</h3>
        <ul>
          <li>5 tablespoons butter</li>
          <li>⅓ cup evaporated milk</li>
          <li>1 cup sugar</li>
        </ul>

        <h4>Directions</h4>
        <p>Boil 1 minute and remove from heat. Add 1 cup chocolate chips and pour over cake on jelly roll pan.</p>
      </div>
    </div>
  </div>

  <div class="separator"></div>

  <div class="recipe row">
    <div class="title col-md-12">
      <h2 id="chocolate-frosting">Chocolate Frosting</h2>
    </div>

    <div class="image col-md-6 order-last web">
      <img class="img-fluid" src="<%= image_path('chocolate_frosting.jpg') %>" />
    </div>

    <div class="instructions col-md-6">
      <div class="ingredients">
        <h3>Ingredients</h3>
        <ul>
          <li>2 cups sugar</li>
          <li>4 tablespoons cocoa</li>
          <li>2 tablespoons melted butter</li>
          <li>Coffee</li>
        </ul>
      </div>

      <div class="directions">
        <h3>Directions</h3>
        <p>Mix ingredients together with coffee.</p>
      </div>

      <div class="notes">
        <h5>Notes</h5>
        <p>"Chocolatg frosting by DeEtta"</p>
      </div>
    </div>
  </div>

  <div class="separator"></div>

  <div class="recipe row">
    <div class="title col-md-12">
      <h2 id="chocolate-topping">Chocolate Topping</h2>
    </div>

    <div class="image col-md-6 web">
      <img class="img-fluid" src="<%= image_path('chocolate_topping.jpg') %>" />
    </div>

    <div class="instructions col-md-6">
      <div class="ingredients">
        <h3>Ingredients</h3>
        <ul>
          <li>⅓ cup Hershey’s cocoa</li>
          <li>1 cup sugar</li>
          <li>¾ cup evaporated milk</li>
          <li>¼ cup butter</li>
          <li>⅛ teaspoon salt</li>
          <li>½ teaspoon vanilla</li>
        </ul>
      </div>

      <div class="directions">
        <h3>Directions</h3>
        <p>Combine cocoa and sugar in small saucepan; blend in evaporated milk. Add butter and salt. Cook and stir constantly until mixture just begins to boil. Remove from heat; add vanilla. Serve warm over ice cream or other deserts.</p>
        <p>Makes about 2 cups sauce.</p>
      </div>
    </div>
  </div>

  <div class="separator"></div>

  <div class="recipe row">
    <div class="title col-md-12">
      <h2 id="coffee-cake">Sugar-top Coffee Cake</h2>
    </div>

    <div class="image col-md-6 order-last">
      <img class="img-fluid" src="<%= image_path('coffee_cake.jpg') %>" />
    </div>

    <div class="instructions col-md-6">
      <div class="ingredients">
        <h3>Ingredients</h3>
        <ul>
          <li>1 egg</li>
          <li>3/4 cup sugar</li>
          <li>1 tablespoon melted butter</li>
          <li>1 cup sour cream</li>
          <li>1 teaspoon vanilla</li>
          <li>1 1/2 cup flour</li>
          <li>2 teaspoons baking powder</li>
          <li>1/4 teaspoon baking soda</li>
          <li>3/4 teaspoon salt</li>
        </ul>
      </div>

      <div class="directions">
        <h3>Directions</h3>
        <p>Beat egg until frothy; beat in sugar and butter. Cream until light and fluffy. Add sour cream and vanilla; blend well. Sift dry ingredients together; add to sour cream mixture.  Pour into a greased 8 inch square pan.  Sprinkle with Topping.</p>

        <p>Brown Sugar Topping:  1/2 cup brown sugar, 2 tablespoons flour, 1/2 teaspoon cinnamon and 2 tablespoons softened butter. Mix until crumbly.</p>

        <p>Bake at 375℉ for 25 or 30 minutes or until cake tests done with a toothpick.</p>
      </div>
    </div>
  </div>

  <!-- Print image -->
  <div class="print print-image row justify-content-center">
    <div class="image col-md-12">
      <img class="img-fluid" src="<%= image_path('coffee_cake.jpg') %>" />
    </div>
  </div>

  <section class="blank" /></section>

  <div class="separator"></div>

  <h2 id="cookies" class="center">Cookies</h2>
  <nav class="nav nav-pills nav-fill web">
    <a class="nav-item nav-link" href="#molasses-sugar-cookies">
      Molasses Sugar Cookies
    </a>
    <a class="nav-item nav-link" href="#painted-cookies">
      Painted Christmas Sugar Cookies
    </a>
    <a class="nav-item nav-link" href="#peanut-butter-blossoms">
      Peanut Butter Blossoms
    </a>
    <a class="nav-item nav-link" href="#sliced-ice-box-cookies">
      Sliced Ice Box Cookies
    </a>
    <a class="nav-item nav-link" href="#snickerdoodles">
      Snickerdoodles
    </a>
  </nav>

  <div class="row justify-content-center">
    <div class="image col-md-6">
      <img class="img-fluid" src="<%= image_path('cookies_1.jpg') %>" />
    </div>
  </div>

  <div class="separator"></div>

  <div class="recipe row">
    <div class="title col-md-12">
      <h2 id="molasses-sugar-cookies">Molasses Sugar Cookies</h2>
      <p>Rachel Ann (Tweeten) Larson</p>
    </div>

    <div class="image col-md-6 order-last">
      <img class="img-fluid" src="<%= image_path('molasses_sugar_cookies.jpg') %>" />
      <img class="img-fluid web" src="<%= image_path('molasses_cookies_front.jpg') %>" />
      <img class="img-fluid web" src="<%= image_path('molasses_cookies_back.jpg') %>" />
    </div>

    <div class="instructions col-md-6">
      <div class="ingredients">
        <h3>Ingredients</h3>
        <ul>
          <li>¾ cup shortening</li>
          <li>1 cup sugar</li>
          <li>¼ cup molasses</li>
          <li>1 egg</li>
          <li>2 teaspoons baking soda</li>
          <li>2 cup flour</li>
          <li>½ teaspoon cloves</li>
          <li>½ teaspoon ginger</li>
          <li>1 teaspoon cinnamon</li>
          <li>½ teaspoon salt</li>
        </ul>
      </div>

      <div class="directions">
        <h3>Directions</h3>
        <p>Melt shortening in a 3 or 4 quart saucepan over low heat. Remove from heat, let cool. Add sugar, molasses, and egg, beat well. Sift together flour, baking soda, cloves, ginger, cinnamon, and salt. Add to first mixture. Mix well and chill. Form 1 inch balls, roll in sugar, and place on greased cookie sheets two inches apart. Bake in 375℉ oven for 8-10 minutes.</p>
      </div>

      <div class="notes web">
        <h5>Notes</h5>
        <p>Drawing by Emily. Considered the most popular cookie of 1930.</p>
      </div>
    </div>
  </div>

  <!-- Print image -->
  <div class="print print-image row justify-content-center">
    <div class="image col-md-12">
      <img src="<%= image_path('molasses_sugar_cookies.jpg') %>" alt=" Molasses Sugar Cookies"/>
    </div>
  </div>

  <div class="separator"></div>

  <div class="recipe row">
    <div class="title col-md-12">
      <h2 id="painted-cookies">Painted Christmas Sugar Cookies</h2>
      <p>Makes about 3 dozen</p>
    </div>

    <div class="image col-md-6 web">
      <img class="img-fluid" src="<%= image_path('painted_christmas_cookies.jpg') %>" />
    </div>

    <div class="instructions col-md-6">
      <div class="ingredients">
        <h3>Ingredients</h3>
        <ul>
          <li>1 cup (2 sticks) butter or margarine, or margarine, or mixture of both</li>
          <li>1 ½ cups powdered sugar</li>
          <li>1 egg</li>
          <li>1 teaspoon vanilla</li>
          <li>½ teaspoon almond extract</li>
          <li>2 ½ cups flour</li>
          <li>1 teaspoon baking soda</li>
          <li>1 teaspoon cream of tartar</li>
          <li>1 small can (4 ounces) evaporated milk</li>
          <li>Liquid or paste food coloring</li>
        </ul>
      </div>

      <div class="directions">
        <h3>Directions</h3>
        <p>Cream butter or margarine in medium bowl with electric mixer.  Add sugar and beat well.  Thoroughly blend in egg, then add vanilla and almond extract.</p>

        <p>Mix together flour, baking soda and cream of tartar in separate small bowl, then beat into creamed butter mixture and blend well.  Form this dough into a ball and wrap in plastic wrap.  Chill in refrigerator about 3 hours so dough will be firm enough to roll easily.</p>

        <p>Lightly grease several baking sheets.  Gather 1 or 2 small, very clean paint-brushes, and make cookie paint as follows: Pour 1 tablespoon evaporated milk into each of several small bowls or into sections of a muffin tin.  Tint each with a different color of liquid or paste food coloring (past will give a more vibrant color).</p>

        <p>Preheat oven to 375 degrees.  Arrange some cooling racks on counter.  Divide chilled dough into thirds and work with 1 section at a time, leaving remainder wrapped in refrigerator.  Lightly flour counter or board and flour rolling pin.  Roll out dough about ¼ inch thick, then cut into shapes with cookie cutters of your choice.</p>

        <p>Using a spatula or metal pancake turner, carefully lift cookies and place on prepared baking sheets.  Using brush, paint bright designs on unbaked cookies with milk and food coloring mixtures.  If possible, place baking sheets in refrigerator for a few minutes to make cookies firm.  Bake in preheated oven about 7 to 8 minutes, or until cookies are very lightly browned.  Using pancake turner, transfer baked cookies to cooling racks to become crisp.  Let cookies cool completely.  Store cookies in a tin or plastic box with waxed paper between layers for protection.</p>
      </div>

      <div class="notes">
        <h5>Notes</h5>
        <p>Cookies may also be baked and frozen in advance; let them stand at room temperature to thaw.</p>

        <p>A few hints: It is easier to cut a whole baking sheet of cookies from dough before starting to paint. Use one color on all cookies before painting with the next color (you may use more than one color on each cookie).</p>

        <p>After all cookies have been cut from a section of dough, place any scraps of dough in a single layer, rather than a ball.  When all dough has been used, gently pat and pinch single layers of scraps into new sheets. Roll lightly to blend dough, then cut out more cookies.</p>
      </div>
    </div>
  </div>

  <div class="separator"></div>

  <div class="recipe row">
    <div class="title col-md-12">
      <h2 id="peanut-butter-blossoms">Peanut Butter Blossoms</h2>
      <p>Makes about 3 dozen cookies.</p>
    </div>

    <div class="image col-md-6 order-last">
    </div>

    <div class="instructions col-md-6">
      <div class="ingredients">
        <h3>Ingredients</h3>
        <ul>
          <li>36 Hersheys Kisses Brand Milk Chocolates</li>
          <li>1 pouch (17.5 ounces) Betty Crocker Peanut Butter Cookie Mix</li>
          <li>3 tablespoons vegetable oil</li>
          <li>1 tablespoon water</li>
          <li>1 egg</li>
          <li>Granulated sugar</li>
        </ul>
      </div>

      <div class="directions">
        <h3>Directions</h3>
        <p>Heat oven to 375℉.  Remove wrappers from chocolates.</p>
        <p>Stir cookie mix, oil, water and egg in medium bowl until soft dough forms. Shape dough into 1-inch balls.  Roll in granulated sugar; place on ungreased cookie sheet.</p>
        <p>Bake 8 to 10 minutes or until lightly browned.  Immediately press a chocolate into center of each cookie; cookie will crack around edges.  Remove from cookie sheet to wire rack.  Cool completely.</p>
      </div>

      <div class="notes">
        <h5>Notes</h5>
        <p>Ron's favorite Christmas cookie</p>
      </div>
    </div>
  </div>

  <div class="separator"></div>

  <div class="recipe row">
    <div class="title col-md-12">
      <h2 id="sliced-ice-box-cookies">Sliced Ice Box Cookies</h2>
    </div>

    <div class="image col-md-6 web">
      <img class="img-fluid" src="<%= image_path('sliced_ice_box_cookies.jpg') %>" />
    </div>

    <div class="instructions col-md-6">
      <div class="ingredients">
        <h3>Ingredients</h3>
        <ul>
          <li>4 ½ cups flour</li>
          <li>½ teaspoon cloves</li>
          <li>1 teaspoon salt</li>
          <li>2 teaspoons baking soda</li>
          <li>1 teaspoon cinnamon</li>
          <li>½ teaspoon nutmeg</li>
          <li>1 cup brown sugar</li>
          <li>1 cup white sugar</li>
          <li>1 ½ cups melted lard</li>
          <li>3 eggs</li>
          <li>1 cup nuts</li>
          <li>1 cup raisins</li>
        </ul>
      </div>

      <div class="directions">
        <h3>Directions</h3>
        <p>Mix sugar and melted fat. Add well beaten eggs. Add flour which has been sifted with salt, baking soda, and spices. Add the chopped nuts and ground raisins which have been dredged with some of the measured flour. Shape in rolls. Roll in waxed paper and store in refrigerator over night. Slice off and bake in a moderate oven (375℉) about 10 minutes.</p>
      </div>

      <div class="notes">
        <h5>Notes</h5>
        <p>Recipe from Grandma Brower</p>
      </div>
    </div>
  </div>

  <div class="separator"></div>

  <div class="recipe row">
    <div class="title col-md-12">
      <h2 id="snickerdoodles">Snickerdoodles</h2>
    </div>

    <div class="image col-md-6 web">
      <img class="img-fluid" src="<%= image_path('snickerdoodles_front.jpg') %>" />
      <img class="img-fluid" src="<%= image_path('snickerdoodles_back.jpg') %>" />
    </div>

    <div class="instructions col-md-6">
      <div class="ingredients">
        <h3>Ingredients</h3>
        <ul>
          <li>1 cup soft shortening (½ ½) part butter</li>
          <li>1½ cup sugar</li>
          <li>2 eggs</li>
          <li>2¾ cup flour</li>
          <li>2 teaspoons creme of tartar</li>
          <li>1 teaspoon soda</li>
          <li>Roll in 2 tablespoons sugar 2 teaspoons cinnamon</li>
        </ul>
      </div>

      <div class="directions">
        <h3>Directions</h3>
        <p>Preheat oven to 400, mix shortening, sugar, eggs. Mix dry ingredients and sift. Mix wet and dry. Form balls the size of small walnuts. Roll in sugar mix.</p>
        <p>Place 2 inches apart on an ungreased baking sheet. Bake 8-10 minutes.</p>
      </div>
    </div>
  </div>

  <div class="separator"></div>

  <div class="recipe row">
    <div class="title col-md-12">
      <h2 id="crazy-cake">Crazy Cake</h2>
    </div>

    <div class="image col-md-6 order-last">
      <img class="img-fluid" src="<%= image_path('crazy_cake.jpg') %>" />
      <img class="img-fluid web" src="<%= image_path('crazy_cake_recipe.jpg') %>" />
    </div>

    <div class="instructions col-md-6">
      <div class="ingredients">
        <h3>Ingredients</h3>
        <ul>
          <li>1 ½ cup flour</li>
          <li>1 cup sugar</li>
          <li>3 tablespoon cocoa</li>
          <li>¾ teaspoon baking soda</li>
          <li>½ teaspoon salt</li>
          <li>3 tablespoon oil</li>
          <li>1 tablespoon vinegar</li>
          <li>1 tablespoon vanilla</li>
          <li>1 cup cold water</li>
        </ul>
      </div>

      <div class="directions">
        <h3>Directions</h3>
        <p>Mix dry ingredients very well with slotted spoon in 8x8 cake pan.  Make 3 holes and add liquids and mix until well combined.  Bake 350 degrees 20-25 minutes.</p>
        <ol>
          <li>1 cup sugar</li>
          <li>2 tablespoon cocoa</li>
          <li>1 tablespoon butter</li>
        </ol>
        <p>Mix together with milk, cream, or coffee.</p>
      </div>

      <div class="notes">
        <h5>Notes</h5>
        <p>Jane started making this cake as a child.  The recipe is from a children's magazine that came in the mail.</p>
      </div>
    </div>
  </div>

  <!-- Print image -->
  <div class="print print-image row justify-content-center">
    <div class="image col-md-12">
      <img class="img-fluid" src="<%= image_path('crazy_cake.jpg') %>" />
    </div>
  </div>

  <div class="separator"></div>

  <div class="recipe row">
    <div class="title col-md-12">
      <h2 id="devils-float">Devils Float</h2>
    </div>

    <div class="image col-md-6 web">
      <img class="img-fluid" src="<%= image_path('devils_float_front.jpg') %>" />
      <img class="img-fluid" src="<%= image_path('devils_float_back.jpg') %>" />
    </div>

    <div class="instructions col-md-6">
      <div class="ingredients">
        <h3>Ingredients</h3>
        <ul>
          <li>1 cup flour</li>
          <li>¼ teaspoon salt</li>
          <li>¾ cup sugar</li>
          <li>2 teaspoons baking powder</li>
          <li>1 ½ tablespoon cocoa</li>
          <li>½ cup milk</li>
          <li>1 teaspoon vanilla</li>
          <li>2 teaspoons melted butter</li>
          <li>½ cup nuts</li>
        </ul>
      </div>

      <div class="directions">
        <h3>Directions</h3>
        <p>Sift dry ingredients; add liquid and nuts.</p>

        <h4>Topping</h4>
        <ul>
          <li>½ cup sugar</li>
          <li>½ cup brown sugar</li>
          <li>5 tablespoons cocoa</li>
        </ul>
        <p>Dissolve in 1 cup hot water. Pour over the cake mixture which has been put in 8x8 pan. Bake 350℉ until cake is on top and toothpick comes out dry. About 30 minutes.</p>
      </div>


      <div class="notes">
        <h5>Notes</h5>
        <p>Marguerite always served a dessert with every meal.  This was one of her favorites, as it was easy to make, and kept well for several days.</p>
        <p>Jane: Most of the time I make 1 ½  of this recipe and use a 9x12 pan as it stays moist so long and most every one likes it so well. -Mom.</p>
      </div>
    </div>
  </div>

  <div class="separator"></div>

  <div id="fresh-fruit-sauce" class="recipe row">
    <div class="title col-md-12">
      <h2>Fresh Fruit Sauce</h2>
      <p>Apple, Peach, Pear, Plum, or Rhubarb Sauce</p>
    </div>

    <div class="image col-md-6 order-last web">
      <img class="img-fluid" src="<%= image_path('fresh_fruit_sauce.jpg') %>" />
    </div>

    <div class="instructions col-md-12">
      <div class="ingredients">
        <h3>Ingredients</h3>
        <ul>
          <li>4 cups washed, peeled, cut-up fruit</li>
          <li>1 cup boiling water</li>
          <li>½ to 1 cup sugar</li>
          <li>Dash of salt</li>
          <li>1 teaspoon lemon juice</li>
          <li>⅛ teaspoon grated lemon rind</li>
          <li>⅛ teaspoon cinnamon or nutmeg</li>
        </ul>
      </div>
    </div>

    <div class="instructions col-md-12">
      <div class="directions">
        <h3>Directions</h3>
        <p>Prepare fruit and add to boiling water in saucepan; simmer until nearly tender. Stir in sugar and salt--also, if desired, lemon juice, grated lemon rind, and spice. Cook until fruit is tender.</p>

        <h3>Approximate Cooking Times</h3>
        <dl>
          <dt>Apples</dt>
          <dd>15 to 20 minutes</dd>
          <dt>Peaches</dt>
          <dd>about 10 minutes</dd>
          <dt>Pears</dt>
          <dd>about 15 minutes</dd>
          <dt>Plums</dt>
          <dd>20 to 25 minutes</dd>
          <dt>Rhubarb</dt>
          <dd>10 to 15 minutes</dd>
        </dl>
      </div>
    </div>

  </div>

  <div class="separator"></div>

  <div class="recipe row">
    <div class="title col-md-12">
      <h2 id="fruitcake">Fruitcake</h2>
    </div>

    <div class="image col-md-6 order-last">
      <img class="img-fluid" src="<%= image_path('fruitcake.jpg') %>" />
    </div>

    <div class="instructions col-md-6">
      <div class="ingredients">
        <h3>Ingredients</h3>
        <ul>
          <li>1 cup golden raisins</li>
          <li>1 cup currants</li>
          <li>1/2 cup dried cranberries</li>
          <li>1/2 cup dried blueberries</li>
          <li>1/2 cup dried cherries</li>
          <li>1/2 cup dried apricots, chopped</li>
          <li>Zest of one lemon</li>
          <li>Zest of one orange</li>
          <li>1/4 cup candied ginger, chopped</li>
          <li>1 cup gold rum</li>
          <li>1 cup sugar</li>
          <li>5 ounces unsalted butter (1 1/4 sticks)</li>
          <li>1 cup unfiltered apple juice</li>
          <li>4 whole cloves, ground</li>
          <li>6 allspice berries, ground</li>
          <li>1 teaspoon ground cinnamon</li>
          <li>1 teaspoon ground ginger</li>
          <li>1 3/4 cup flour</li>
          <li>1 1/2 teaspoon salt</li>
          <li>1 teaspoon baking soda</li>
          <li>1 teaspoon baking powder</li>
          <li>2 eggs</li>
          <li>1/4 - 1/2 cup toasted pecans, broken</li>
          <li>Brandy for basting and/or spritzing</li>
        </ul>
      </div>

      <div class="directions">
        <h3>Directions</h3>
        <p>Combine dried fruits, candied ginger and both zests. Add rum and macerate overnight, or microwave for 5 minutes to rehydrate fruit.</p>

        <p>Place fruit and liquid in a non-reactive pot with the sugar, butter, apple juice and spices. Bring mixture to a boil stirring often, then reduce heat and simmer for 5 to 10 minutes. Remove from heat and cool for at least 15 minutes. (Batter can be completed up to this point, then covered and refrigerated for up to 2 days. Bring to room temperature before completing cake.)</p>

        <p>Heat oven to 325℉.</p>

        <p>Combine dry ingredients and sift into fruit mixture. Quickly bring batter together with a large wooden spoon, then stir in eggs one at a time until completely integrated, then fold in nuts. Spoon into a 10-inch non-stick loaf pan and bake for 1 hour. Check for doneness by inserting toothpick into the middle of the cake. If it comes out clean, it's done. If not, bake another 10 minutes, and check again. [took 75 minutes, but opened the oven multiple times starting at 50 minutes – suggest not checking for 1 hour]</p>

        <p>Remove cake from oven and place on cooling rack or trivet. Baste or spritz top with brandy and allow to cool completely before turning out from pan.</p>

        <p>When cake is completely cooled, seal in a tight sealing, food safe container. Every 2 to 3 days, feel the cake and if dry, spritz with brandy. The cake's flavor will enhance considerably over the next two weeks. If you decide to give the cake as a gift, be sure to tell the recipient that they are very lucky indeed.</p>
      </div>

      <div class="notes">
        <h5>Notes</h5>
        <p>This recipe came from Scott and Chelsey by way of an English friend. Marguerite and DeEtta came from a English/German background and fruitcake was always served during the Christmas holiday.  Jane loves having it as part of our tradition.</p>
      </div>
    </div>
  </div>

  <!-- Print image -->
  <div class="print print-image row justify-content-center">
    <div class="image col-md-12">
      <img class="img-fluid" src="<%= image_path('fruitcake.jpg') %>" />
    </div>
  </div>

  <div class="separator"></div>

  <div class="recipe row">
    <div class="title col-md-12">
      <h2 id="jello-recipes">Jell-O Recipes</h2>
    </div>

    <div class="image col-md-6">
      <img class="img-fluid" src="<%= image_path('jello_recipes.jpg') %>" />
      <img class="img-fluid web" src="<%= image_path('jello_recipes_recipe.jpg') %>" />
    </div>

    <div class="instructions col-md-6">
      <div class="ingredients">
      </div>

      <div class="directions">
        <h3>Directions</h3>
        <p>Follow instructions on box and try the variations below:</p>

        <p>3 ounces lime Jell-O fixed with 1 can drained pears</p>

        <p>3 ounces red Jell-O fixed with 1 can of fruit cocktail and chopped oranges. Top with small marshmallows</p>

        <p>3 ounces dark chreey Jell-O with 1 can drained sweet cherries. When set, top with one carton dark cherry yogurt</p>

        <p>3 ounces orange Jell-O with 1 can mandarin oranges</p>
      </div>
    </div>
  </div>

  <!-- Print image -->
  <div class="print print-image row justify-content-center">
    <div class="image col-md-12">
      <img class="img-fluid" src="<%= image_path('jello_recipes.jpg') %>" />
    </div>
  </div>

  <div class="separator"></div>

  <section class="blank" /></section>
  <h2 id="lefse" class="center">Lefse</h2>

  <div class="row justify-content-center">
    <div class="image col-md-6">
      <img class="img-fluid" src="<%= image_path('lefse.jpg') %>" />
    </div>
  </div>

  <div class="recipe row">
    <div class="title col-md-12">
      <h2>Lefse</h2>
    </div>

    <div class="image col-md-6 web">
      <img class="img-fluid" src="<%= image_path('lefse_1.jpg') %>" />
      <img class="img-fluid" src="<%= image_path('lefse_2.jpg') %>" />
      <img class="img-fluid" src="<%= image_path('lefse_3.jpg') %>" />
    </div>

    <div class="instructions col-md-6">
      <div class="ingredients">
        <h3>Ingredients</h3>
        <ul>
          <li>2 1/2 cup potatoes, riced</li>
          <li>1 cup flour</li>
          <li>4 tablespoons cream</li>
          <li>2 tablespoons sugar</li>
          <li>1 tablespoon salt, OR 1 1/2 teaspoon salt</li>
        </ul>
      </div>

      <div class="directions">
        <h3>Directions</h3>
        <p>Combine ingredients. Roll into balls and chill.</p>
        <p>Roll out flat and cook on hot grill.</p>
      </div>

      <div class="notes">
        <h5>Notes</h5>
        <p>Recipe from Cora Annette Martinson Larson is the one we use. Rachel was always trying to find a shortcut. Chilling the dough is important.  </p>
        <p>Every Norweigan in Northern Iowa and Southern Minnesota swears the electricity at 4:00 a.m. is better -- the "good electricity" -- than during the day. In the mid-1930s rural electric service to farms became available. Electricians were scarce so some "handy uncle" put wires into farm houses and barns. They only knew knob and post construction.  While the "uncle" was up on the roof he was suppose to check the lightning rods.</p>
      </div>
    </div>
  </div>

  <!-- Print images -->
  <div class="print row">
    <img src="<%= image_path('lefse_dad.jpg') %>" />
    <img src="<%= image_path('lefse_mom.jpg') %>" />
  </div>

  <div class="separator"></div>

  <div class="recipe row">
    <div class="title col-md-12">
      <h2 id="orange-rolls-frosted">Orange Rolls Frosted</h2>
      <p>Makes 24 rolls</p>
    </div>

    <div class="col-md-12">
      <div class="instructions">
        <div class="ingredients">
          <h3>Ingredients</h3>
          <ul>
            <li>1 package or cake yeast, active dry or compressed</li>
            <li>¼ cup warm, not hot water (lukewarm for compressed yeast)</li>
            <li>1 egg</li>
            <li>2 tablespoons sugar</li>
            <li>1 ½ teaspoons salt</li>
            <li>2 tablespoons melted margarine</li>
            <li>1 tablespoon grated orange peel</li>
            <li>¾ cup orange juice</li>
            <li>3 cups flour</li>
          </ul>
        </div>

        <div class="ingredients">
          <h3>Orange Frosting</h3>
          <ul>
            <li>1 tablespoon soft margarine</li>
            <li>1 teaspoon grated orange peel</li>
            <li>1 cup sifted confectioners sugar</li>
            <li>1 tablespoon lemon juice</li>
            <li>Orange juice (about 2 tablespoons)</li>
          </ul>
          <p>Add orange peel to margarine. Gradually work in confectioners’ sugar and juice, a little at a time.  Beat well until right consistency for spreading. This frosting should be fairly soft.</p>
        </div>

        <div class="directions">
        <h4>Directions</h4>
        <p>Soften yeast in water. Beat egg in mixing bowl. Add yeast, sugar, salt, margarine, orange peel and juice. Stir in flour. Beat until smooth, adding a little more flour if necessary to make a soft dough. Turn out on lightly floured board and knead until smooth. Return to greased bowl. Grease top, cover and let stand in warm place until double in bulk (about 1 hour). Punch down, form into 2 balls. Roll each separately into a circle about ¼-inch thick, brush with melted margarine and sprinkle with a mixture of 1 cup sugar and peel of 1 orange. With long knife cut into 12 pie-shaped wedges. Starting at wide end, roll up each long, slender triangle of dough toward narrow end. Set on greased cookie sheet, making sure that the tip is under the roll. (This will keep if from unrolling as dough rises). Cover with damp cloth and let rise again until double in size. Bake in 425 degree oven for about 15 to 20 minutes, or until nicely browned. Let cool thoroughly; wrap for freezer, label and freeze. To use, thaw in the oven at 250-300 degree F. Let cool for a few minutes, then frost with Orange Frosting and serve while warm. (Or if you plan to use immediately, allow to cool a few minutes, frost and serve).</p>
        </div>

        <div class="notes">
        <h5>Notes</h5>
        <p>Jane was required to help her mom bake on weekends.  These rolls were a favorite treat.</p>
        </div>
      </div>
    </div>
  </div>

  <section class="blank" /></section>

  <div class="separator"></div>

  <h2 id="pies" class="center">Pies</h2>
  <nav class="nav nav-pills nav-fill web">
    <a class="nav-item nav-link" href="#tender-flaky-pastry">
      Tender-Flaky Pastry
    </a>
    <a class="nav-item nav-link" href="#apple-pie">
      Apple Pie
    </a>
    <a class="nav-item nav-link" href="#blueberry-pie">
      Blueberry Pie
    </a>
    <a class="nav-item nav-link" href="#cherry-pie">
      Cherry Pie
    </a>
    <a class="nav-item nav-link" href="#peach-pie">
      Peach Pie
    </a>
    <a class="nav-item nav-link" href="#pumpkin-pie">
      Pumpkin Pie
    </a>
  </nav>

  <div class="row justify-content-center">
    <div class="image col-md-6">
      <img class="img-fluid" src="<%= image_path('pies.png') %>" />
    </div>
  </div>

  <div class="separator"></div>

  <div class="recipe row">
    <div class="title col-md-12">
      <h2 id="tender-flaky-pastry">Tender-Flaky Pastry</h2>
    </div>

    <div class="image col-md-6 order-last web">
      <img class="img-fluid" src="<%= image_path('tender_flaky_pastry.jpg') %>" />
    </div>

    <div class="instructions col-md-6">
      <div class="ingredients">
        <h3>Ingredients</h3>
        <h4>For 8” One-Crust Pie</h4>
        <ul>
          <li>1 cup Gold Medal Flour</li>
          <li>½ tsp. Salt</li>
          <li>⅓ cup plus 1 tbsp. Shortening </li>
          <li>2 tbsp water</li>
        </ul>

        <h4>For 8” Two-Crust Pie</h4>
        <ul>
          <li>1 ½ cups Gold Medal Flour</li>
          <li>¾ tsp. Salt</li>
          <li>½ cup plus 2 tsp shortening</li>
          <li>3 tbsp water</li>
        </ul>
      </div>

      <div class="directions">
        <h3>Directions</h3>
        <p>Combine flour and salt in mixing bowl.</p>

        <p>With pastry blender or 2 knives, cut in shortening until little balls about the size of peas are formed.</p>

        <p>Sprinkle water onto flour, one tbsp at a time.  Mix lightly with fork until all flour is moistened.</p>

        <p>Gather dough together with fingers so it cleans the bowl.  Press firmly into a ball. (Divid dough for two-crust pie into 2 equal balls)</p>

        <p>Flatten with hand on lightly floured cloth-covered board.  Roll out ⅛” thick with stocknet-covered board.  Roll lightly in all directions, keeping edge of pastry round.  Pinch broken edges together immediately.</p>

        <p>Make sure that pastry is 1” larger all around than inverted pie pan to allow for depth of pie pan.</p>

        <p>Fold pastry in half, and carefully transfer to pan.  Ease pastry into pan.  Be careful not to stretch it; stretching causes shrinkage.</p>
      </div>
    </div>
  </div>

  <div class="separator"></div>

  <div class="recipe row">
    <div class="title col-md-12">
      <h2 id="apple-pie">Apple Pie</h2>
    </div>

    <div class="image col-md-6">
      <img class="img-fluid" src="<%= image_path('apple_pie.jpg') %>" />
    </div>

    <div class="instructions col-md-6">
      <div class="ingredients">
        <h3>Ingredients</h3>
        <ul>
          <li>6 cups thinly sliced cooking apples (2 pounds)</li>
          <li>1 tablespoon lemon juice (optional)</li>
          <li>1 cup sugar</li>
          <li>2 tablespoons all-purpose flour</li>
          <li>1/2 to 1 teaspoon ground cinnamon</li>
          <li>Dash ground nutmeg</li>
          <li>1 tablespoon butter or margarine</li>
        </ul>
      </div>

      <div class="directions">
        <h3>Directions</h3>
        <p>Prepare and roll out pastry. Line a 9-inch pie plate with half of the pastry; trim pastry to edge of pie plate. If apples lack tartness, sprinkle with the 1 tablespoon lemon juice. In mixing bowl combine sugar, flour, cinnamon, and nutmeg. (For a very juicy pie, omit the flour.) Add sugar mixture to the sliced apples; toss to mix. Fill pastry-lined pie plate with apple mixture; dot with butter or margarine. Cut slits in top crust for escape of steam; place pastry atop filling. Seal and flute edge. Sprinkle some sugar atop, if desired. To prevent overbrowing, cover edge of the pie with foil. Bake in 375 degree oven for 25 minutes. Remove foil; bake for 20 to 25 minutes more or till crust is golden. Cool pie on rack. Serve with vanilla ice cream, if desired.</p>
      </div>

      <div class="notes">
        <h5>Notes</h5>
        <p>Apple is Emily's favorite pie. Jane's favorite apples for pie are Jonathan -- they are only available in the fall and are becoming more rare. Jane always puts sugar and cinnamon on the top crust before baking.</p>
      </div>

      <!-- Print image INLINE -->
      <div class="print row justify-content-center">
        <div class="image col-md-12">
          <img class="img-fluid" src="<%= image_path('apple_pie.jpg') %>" />
        </div>
      </div>
    </div>
  </div>

  <div class="separator"></div>

  <div class="recipe row">
    <div class="title col-md-12">
      <h2 id="blueberry-pie">Blueberry Pie</h2>
    </div>

    <div class="image col-md-6">
      <img class="img-fluid" src="<%= image_path('blueberry_pie_picture.jpg') %>" />
      <img class="img-fluid web" src="<%= image_path('blueberry_pie_recipe.jpg') %>" />
    </div>

    <div class="instructions col-md-6">
      <div class="ingredients">
        <h3>Ingredients</h3>
        <ul>
          <li>5 cups fresh blueberries or 1 20-ounce package frozen unsweetened blueberries, thawed*</li>
          <li>1 cup sugar (Jane says use less sugar)</li>
          <li>¼ cup all-purpose flour</li>
          <li>½ teaspoon finely shredded lemon peel</li>
          <li>2 teaspoons lemon juice</li>
          <li>1 tablespoon butter</li>
        </ul>
      </div>

      <div class="directions">
        <h3>Directions</h3>
        <p>Prepare and roll out pastry.  Line a 9-inch pie plate with half of the pastry; trim pastry to edge of pie plate.  In mixing bowl combine blueberries, sugar, flour, lemon peel, and dash salt.  Turn blueberry mixture into pastry-lined pie plate.  Drizzle with lemon juice and dot with butter.  Cut slits in top crust; place atop filling.  Seal and flute edge.  To prevent overbrowning, cover edge of pie with foil.  Bake in 375 degree oven for 20 minutes.  Remove foil and bake for 20 to 25 minutes longer or till crust is golden.  Cool pie on rack before serving.</p>
      </div>

      <div class="notes">
        <h5>Notes</h5>
        <p>Scott's favorite. If using frozen blueberries, increase the all purpose flour to ⅓ cup.</p>
      </div>

      <!-- Print image INLINE -->
      <div class="print row justify-content-center">
        <div class="image col-md-12">
          <img class="img-fluid" src="<%= image_path('blueberry_pie_picture.jpg') %>" style="display:inline !important; margin-top:4rem;"/>
        </div>
      </div>
    </div>
  </div>

  <div class="separator"></div>

  <div class="recipe row">
    <div class="title col-md-12">
      <h2 id="cherry-pie">Cherry Pie</h2>
    </div>

    <div class="image col-md-6 order-last">
      <img class="img-fluid web" src="<%= image_path('cherry_pie.jpg') %>" />
      <img class="img-fluid web" src="<%= image_path('cherry_pie.jpeg') %>" />
    </div>

    <div class="instructions col-md-6">
      <div class="ingredients">
        <h3>Ingredients</h3>
        <ul>
          <li>4-5 cups tart cherries (3 cans)</li>
          <li>1 cup sugar</li>
          <li>3 tablespoons tapioca</li>
          <li>¼ teaspoon almond extract</li>
          <li>red food coloring</li>
          <li>1 tablespoon butter</li>
        </ul>
      </div>

      <div class="directions">
        <h3>Directions</h3>
        <p>Combine tapioca and sugar. Stir in cherries and let set 15 minutes. Add rest of ingredients. Cover with top crust. Bake ~40 minutes at 400 degrees.</p>
      </div>

      <div class="notes">
        <h5>Notes</h5>
        <p>This is one of Eric's favorite pies.  He always wanted it at Christmas because it was red.</p>
      </div>
    </div>
  </div>

  <!-- Print image -->
  <div class="print print-image row justify-content-center">
    <div class="image col-md-12">
      <img class="img-fluid" src="<%= image_path('cherry_pie.jpeg') %>" />
    </div>
  </div>

  <div class="separator"></div>

  <div class="recipe row">
    <div class="title col-md-12">
      <h2 id="peach-pie">Peach Pie</h2>
    </div>

    <div class="image col-md-6 web">
      <img class="img-fluid" src="<%= image_path('peach_pie.jpg') %>" />
    </div>

    <div class="instructions col-md-6">
      <div class="ingredients">
        <h3>Ingredients</h3>
        <ul>
          <li>¾ cup sugar</li>
          <li>3 T flour</li>
          <li>¼ t nutmeg</li>
          <li>5 cups peaches</li>
          <li>2 T butter</li>
        </ul>
      </div>

      <div class="directions">
        <h3>Directions</h3>
        <p>400 degrees 40-45 minutes.</p>
        <p>Top crust with strips</p>
      </div>

      <div class="notes">
        <h5>Notes</h5>
        <p>Baked in celebration of William’s birth - 2010</p>
      </div>
    </div>
  </div>

  <!-- Print Image -->
  <section class="background print" id="microwave" /></section>

  <div class="separator"></div>

  <div class="recipe row">
    <div class="title col-md-12">
      <h2 id="pumpkin-pie">Pumpkin Pie (Rachel and Marguerite)</h2>
    </div>

    <div class="image col-md-6 order-last">
      <img class="img-fluid" src="<%= image_path('pumpkin_pie_picture.jpg') %>" />
      <img class="img-fluid web" src="<%= image_path('pumpkin_pie_recipe.jpg') %>" />
    </div>

    <div class="instructions col-md-6">
      <div class="ingredients">
        <h3>Ingredients</h3>
        <ul>
          <li>2 eggs</li>
          <li>½ cup brown sugar</li>
          <li>½ cup white sugar</li>
          <li>1 can pumpkin, 1 can evaporated milk</li>
          <li>½ t salt</li>
          <li>1 t cinnamon</li>
          <li>¼ t nutmeg</li>
          <li>½ t ginger</li>
          <li>¼ t cloves</li>
          <li>¼ t allspice</li>
        </ul>
      </div>

      <div class="directions">
        <h3>Directions</h3>
        <p>Combine in given order and mix well.</p>
        <p>Pour into unbaked pie shell.</p>
        <p>Bake 10 minutes at 425 degrees; turn oven down to 350 degrees until knife tests clean (50-60 minutes)</p>
      </div>

      <div class="notes">
        <h5>Notes</h5>
        <p>Jane took Marguerite and Rachel's recipes and combined them into the flavors she prefers.</p>
        <p>Rachel Larson was also proud of her pumpkin pie made from scratch.  The goal was to avoid this stringy pie at all cost and choose another pie. Only the most loyal sons of Rachel would eat her pie.</p>
      </div>

    </div>
  </div>

  <!-- Print image -->
  <div class="print print-image row justify-content-center">
    <div class="image col-md-12">
      <img class="img-fluid" src="<%= image_path('pumpkin_pie_picture.jpg') %>" />
    </div>
  </div>

  <div class="separator"></div>

  <div class="recipe row">
    <div class="title col-md-12">
      <h2 id="tapioca-pudding">Tapioca Pudding</h2>
      <p>Makes 6 servings.</p>
    </div>

    <div class="image col-md-6 order-last web">
      <img class="img-fluid" src="<%= image_path('tapioca_pudding_recipe.jpg') %>" />
    </div>

    <div class="instructions col-md-6">
      <div class="ingredients">
        <h3>Ingredients</h3>
        <ul>
          <li>1 egg separated</li>
          <li>6 tablespoon sugar, divided</li>
          <li>3 tablespoons MINUTE tapioca</li>
          <li>2 cups milk</li>
          <li>1 teaspoon vanilla</li>
        </ul>
      </div>

      <div class="directions">
        <h3>Directions</h3>
        <p>Beat egg white in medium bowl with mixer on high speed until foamy. Gradually beat in 3 tablespoons sugar until soft peaks form.</p>
        <p>Mix tapioca, milk, egg yolk, and remaining sugar in medium saucepan. Let stand 5 minutes.</p>
        <p>Bring to full boil on medium heat, stirring constantly. Remove from heat. Add egg white mixture; stir until blended. Stir in vanilla.</p>
        <p>Cool 20 minutes, stir. Serve warm or chilled. Keep refrigerated.</p>
      </div>
    </div>
  </div>
</div>
