---
title: Larson Recipes
---

<hgroup>
<h1 class="center">
  Larson Recipes
</h1>
<h2 class="center">
  Food and love from 918 Melrose Drive.
</h2>
</hgroup>

<div class="separator"></div>

<h3>Table of Contents</h3>

<nav class="nav flex-column">
  <%= link_to("Appetizers", "/appetizers.html", class: "nav-link") %>
  <%= link_to("Bread", "/bread.html", class: "nav-link") %>
  <%= link_to("Cocktails", "/cocktails.html", class: "nav-link") %>
  <%= link_to("Desserts", "/desserts.html", class: "nav-link") %>
  <%= link_to("Main Dishes", "/main_dishes.html", class: "nav-link") %>
  <%= link_to("Pickles", "/pickles.html", class: "nav-link") %>
  <%= link_to("Salads", "/salads.html", class: "nav-link") %>
</nav>

<br/>
<hr/>
<h4>Todo</h4>
<ul>
  <li>Sides</li>
</ul>
