---
title: Larson Recipes &middot; Main Dishes
color: orange
---

<hgroup>
<h1>
  <%=link_to('Larson Recipes', '/')%>
</h1>
<h2>
  Main Dishes
</h2>
</hgroup>

<nav class="nav nav-pills nav-fill">
  <a class="nav-item nav-link" href="#apricot-pork-medallions">
    Apricot Pork Medallions
  </a>
  <a class="nav-item nav-link" href="#artichoke-spinach-and-feta-stuffed-shells">
    Artichoke, Spinach, and Feta Stuffed Shells
  </a>
  <a class="nav-item nav-link" href="#barbeque-ribs">
    Barbeque Ribs
  </a>
  <a class="nav-item nav-link" href="#beef-stroganoff">
    Beef Stroganoff
  </a>
  <a class="nav-item nav-link" href="#broccoli-walnut-noodles">
    Broccoli Walnut Noodles
  </a>
  <a class="nav-item nav-link" href="#crisp-cheese-filled-eggplant-sandwiches-with-pomegranate-molasses">
    Crisp Cheese-filled Eggplant Sandwiches with Pomegranate Molasses
  </a>
  <a class="nav-item nav-link" href="#crock-pot-stew">
    Crock-Pot Stew
  </a>
  <a class="nav-item nav-link" href="#chicken-picata">
    Chicken Picata
  </a>
  <a class="nav-item nav-link" href="#texas-chili-lone-star-beer">
    Texas Chili (Lone Star Beer)
  </a>
  <a class="nav-item nav-link" href="#crepes">
    Crepes
  </a>
  <a class="nav-item nav-link" href="#dillon-egg">
    Dillon Egg
  </a>
  <a class="nav-item nav-link" href="#french-toast">
    French Toast
  </a>
  <a class="nav-item nav-link" href="#german-puffed-apple-pancake">
    German Puffed Apple Pancake
  </a>
  <a class="nav-item nav-link" href="#ginger-shrimp-pot-stickers">
    Ginger Shrimp Pot Stickers
  </a>
  <a class="nav-item nav-link" href="#goulash">
    Rachel's Goulash
  </a>
  <a class="nav-item nav-link" href="#ham-balls">
    Ham Balls
  </a>
  <a class="nav-item nav-link" href="#holiday-ham">
    Holiday Ham
  </a>
  <a class="nav-item nav-link" href="#japanese-curry">
    Japanese Curry
  </a>
  <a class="nav-item nav-link" href="#lasagna">
    Lasagna
  </a>
  <a class="nav-item nav-link" href="#maidrites">
    Maidrites
  </a>
  <a class="nav-item nav-link" href="#meatball-cabbage-soup">
    Meatball Cabbage Soup
  </a>
  <a class="nav-item nav-link" href="#pasta-orientale">
    Pasta Orientale
  </a>
  <a class="nav-item nav-link" href="#peak-to-peak-pancake">
    Peak to Peak Pancake
  </a>
  <a class="nav-item nav-link" href="#pork-chops-with-corn-dressing">
    Pork Chops with Corn Dressing
  </a>
  <a class="nav-item nav-link" href="#pork-tenderloin-diane">
    Pork Tenderloin Diane
  </a>
  <a class="nav-item nav-link" href="#redfish-meuniere">
    Redfish Meuniere
  </a>
  <a class="nav-item nav-link" href="#salmon-with-brown-sugar-sauce">
    Salmon with Brown Sugar Sauce
  </a>
  <a class="nav-item nav-link" href="#shish-kabobs">
    Shish Kabobs
  </a>
  <a class="nav-item nav-link" href="#shrimp-creole">
    Shrimp Creole
  </a>
  <a class="nav-item nav-link" href="#shrimp-meuniere">
    Shrimp Meuniere
  </a>
  <a class="nav-item nav-link" href="#summer-salad">
    Summer Salad
  </a>
  <a class="nav-item nav-link" href="#tuna-noodle-casserole">
    Tuna Noodle Casserole
  </a>
  <a class="nav-item nav-link" href="#turkey-enchiladas">
    Turkey Enchiladas
  </a>
  <a class="nav-item nav-link" href="#vegetable-cheese-soup">
    Vegetable Cheese Soup
  </a>
  <a class="nav-item nav-link" href="#verola-hartwigs-macaroni-and-cheese">
    Verola Hartwig’s Macaroni and Cheese
  </a>
</nav>

<div class="separator"></div>

<div class="recipe row">
  <div class="title col-md-12">
    <h2 id="apricot-pork-medallions">Apricot Pork Medallions</h2>
    <p>Makes 4 servings</p>
  </div>

  <div class="image col-md-6 order-last">
    <img class="img-fluid" src="<%= image_path('apricot_pork_medallions.jpg') %>" />
  </div>

  <div class="instructions col-md-6">
    <h3>Ingredients</h3>
    <ul>
      <li>1 pound pork tenderloin</li>
      <li>2 tablespoons butter, divided</li>
      <li>½ cup dried apricots, chopped</li>
      <li>2 green onions, sliced</li>
      <li>¼ teaspoon dry ginger</li>
      <li>1 teaspoon red wine vinegar</li>
      <li>2 teaspoon brown sugar</li>
      <li>A dash of hot sauce</li>
    </ul>

    <h4>Directions</h4>
    <p>Cut tenderloin into 1” pieces. Flatten slightly with heel of hand. Heat 1 tablespoon butter in large skillet over medium-high heat. Brown medallions, about 2 minutes on each side. Add remaining ingredients to skillet with remaining butter. Cover and simmer for 3-4 minutes. Remove medallions to serving platter, spoon sauce over.</p>
  </div>
</div>

<div class="separator"></div>

<div class="recipe row">
  <div class="title col-md-12">
    <h2 id="artichoke-spinach-and-feta-stuffed-shells">Artichoke, Spinach, and Feta Stuffed Shells</h2>
    <p>Makes 4 servings</p>
  </div>

  <div class="image col-md-6">
    <img class="img-fluid" src="<%= image_path('artichoke_spinach_and_feta_stuffed_shells.jpg') %>" />
  </div>

  <div class="instructions col-md-6">
    <h3>Ingredients</h3>
    <ul>
      <li>1 teaspoon dried oregano</li>
      <li>¼ cup chopped pepperoncini peppers, chopped</li>
      <li>28 ounce can fire-roasted crushed tomatoes with added puree</li>
      <li>8 ounce can no-salt-added tomato sauce</li>
      <li>1 cup shredded provolone cheese, divided</li>
      <li>1 cup feta cheese, crumbled</li>
      <li>½ cup (4 ounces) cream cheese</li>
      <li>¼ teaspoon black pepper</li>
      <li>1 can artichoke hearts or 9 ounces frozen, chopped</li>
      <li>½ package frozen spinach</li>
      <li>2 garlic cloves, minced</li>
      <li>20 cooked jumbo shell pasta</li>
    </ul>

    <h4>Directions</h4>
    <p>Preheat oven to 375 degrees. Combine oregano, pepperoncini, and tomatoes in a saucepan and cook for 12 minutes until slightly thick. Combine and mix ½ cup provolone, feta, cream cheese, black pepper, artichokes, spinach, and garlic. Spoon or pipe ~ 2 tablespoons cheese mixture into each pasta shell. Place shells in greased 13 x 9 inch baking dish and spoon tomato mixture over shells. Sprinkle with remaining ½ cup provolone and bake for 25 minutes until heated through and cheese is melted.</p>
  </div>
</div>

<div class="separator"></div>

<div class="recipe row">
  <div class="title col-md-12">
    <h2 id="barbeque-ribs">Barbeque Ribs</h2>
  </div>

  <div class="image col-md-6 order-last">
    <img class="img-fluid" src="<%= image_path('barbeque_ribs.jpg') %>" />
  </div>

  <div class="instructions col-md-6">
    <h3>Ingredients</h3>
    <ul>
      <li>6 racks pork ribs (4-6 pounds baby back ribs or 6-8 pounds spareribs)</li>
      <li>¼ cup paprika</li>
      <li>1½ tablespoons freshly ground black pepper</li>
      <li>1½ tablespoons firmly packed dark brown sugar</li>
      <li>1 tablespoon salt</li>
      <li>1½ teaspoons celery salt</li>
      <li>1½ teaspoons cayenne pepper</li>
      <li>1½ teaspoons garlic powder</li>
      <li>1½ teaspoons dry mustard</li>
      <li>1½ teaspoons ground cumin</li>
    </ul>

    <h4>Mop Sauce (optional)</h4>
    <ul>
      <li>2 cups cider vinegar</li>
      <li>½ cup yellow (ballpark) mustard</li>
      <li>2 teaspoons salt</li>
    </ul>

    <h4>Directions</h4>
    <p>Remove the thin, papery skin from the back of each rack of ribs by pulling it off in a sheet with your fingers, using the corner of a kitchen towel to gain a secure grip, or with pliers. Combine the ingredients for the rub in a small bowl and whisk to mix. Rub two thirds of this mixture over the ribs on both sides, then transfer the ribs to a roasting pan. Cover and let marinate, in the refrigerator, 4 to 8 hours.</p>

    <p>Set up the grill for indirect grilling, place a large drip pan in the center. If using a charcoal grill, preheat it to medium. IIf using a gas grill, place the wood chips in the smoker box and preheat the grill to high; when smoke appears, reduce the heat to medium.</p>

    <p>When ready to cook, if using charcoal, toss half the wood chips on the coals. Oil the grill grate. Arrange the ribs on the hot grate over the drip pan. Cover the grill and smoke-cook the ribs for 1 hour.</p>

    <h5>Notes</h5>
    <p>Added molasses and brown sugar to sauce. Alternative cooking method: Oven, 300°, 2 hours. “Worked good”.</p>
  </div>
</div>

<div class="separator"></div>

<div class="recipe row">
  <div class="title col-md-12">
    <h2 id="beef-stroganoff">Super Beef Stroganoff</h2>
    <p>Makes 4 servings</p>
  </div>

  <div class="image col-md-6">
    <img class="img-fluid" src="<%= image_path('beef_stroganoff.jpg') %>" />
  </div>

  <div class="instructions col-md-6">
    <h3>Ingredients</h3>
    <ul>
      <li>¼ cup minced onions</li>
      <li>½ cup butter</li>
      <li>½ pound mushrooms, sliced</li>
      <li>1 pound round steak, cut in ½ inch strips</li>
      <li>2 tablespoons flour</li>
      <li>½ teaspoon salt</li>
      <li>Dash pepper</li>
      <li>⅛ teaspoon garlic powder</li>
      <li>½ teaspoon dry mustard</li>
      <li>1 tablespoon tomato paste</li>
      <li>½ cup beef consume</li>
      <li>½ cup dry white wine</li>
      <li>½ cup sour cream</li>
      <li>3 tablespoons sherry</li>
    </ul>

    <h4>Directions</h4>
    <p>Sauté onions in butter for 10 minutes. Add mushrooms, cover and continue cooking for 5 minutes. Remove onions and mushrooms to a bowl. Brown meat in the same skillet over low heat, then blend in flower with the fat left in the pan. Add seasonings, onions and mushrooms, tomato paste, consume, and white wine. Simmer gently for 1 hour until meat is tender.</p>

    <p>Just before serving, stir in sour cream and sherry. Heat, but do not let boil. Serve on rice or broad noodles.</p>

    <h5>Notes</h5>
    <p>Very good! Source: Bon Appetit</p>
  </div>
</div>

<div class="separator"></div>

<div class="recipe row">
  <div class="title col-md-12">
    <h2 id="broccoli-walnut-noodles">Broccoli Walnut Noodles</h2>
    <p>Makes 4 servings</p>
  </div>

  <div class="image col-md-6 order-last">
    <img class="img-fluid" src="<%= image_path('broccoli_walnut_noodles.jpg') %>" />
  </div>

  <div class="instructions col-md-6">
    <h3>Ingredients</h3>
    <ul>
      <li>12-ounce extra wide curly noodles</li>
      <li>2 pounds broccoli, steamed, using both florets and peeled stems cut into ½-inch slices</li>
      <li>½ cup chopped walnuts</li>
      <li>2 tablespoons olive oil</li>
      <li>Juice of 1 lemon</li>
      <li>Juice of ½ orange</li>
      <li>Grated zest of 1 lemon</li>
      <li>½ teaspoon ground pepper</li>
    </ul>

    <h4>Directions</h4>
    <p>Cook noodles al dente, about 5 minutes. Steam broccoli until tender, 3 to 5 minutes.</p>

    <p>Heat olive oil over medium-high heat and add walnuts. Sauté about 1 minute. Combine noodles and broccoli. Add walnut-oil mixture and toss well. Add citrus juices, zest, and pepper and toss well again.</p>

    <p>Optional: Add ½ cup diced smoked turkey, low-fat chicken sausage or seasoned tofu.</p>
  </div>
</div>

<div class="separator"></div>

<div class="recipe row">
  <div class="title col-md-12">
    <h2 id="crisp-cheese-filled-eggplant-sandwiches-with-pomegranate-molasses">
      Crisp Cheese-filled Eggplant Sandwiches with Pomegranate Molasses</h2>
  </div>

  <div class="image col-md-6 order-last">
  </div>

  <div class="instructions col-md-6">
    <h3>Ingredients</h3>
    <ul>
      <li>Large eggplant cut into ⅓ inch rounds, soaked in water briefly</li>
      <li>½ cup finely chopped onion</li>
      <li>3 cloves garlic, minced</li>
      <li>5 tablespoons olive oil</li>
      <li>2 cups panko</li>
      <li>2 teaspoons salt</li>
      <li>½ teaspoon black pepper</li>
      <li>1 cup flour</li>
      <li>1 egg + 1 tablespoon water</li>
      <li>5 ounces goat cheese</li>
      <li>1 cup sharp provolone, shredded</li>
      <li>2 tablespoons parsley</li>
      <li>2 tablespoons basil</li>
      <li>Pomegranate molasses (small bottle pomegranate juice reduced until syrupy)</li>
    </ul>

    <h4>Directions</h4>
    <p>Preheat oven to 450 degrees. Place flour in bowl, and beaten egg +water in second bowl. Mix panko, salt, and pepper in third bowl. Dip eggplant in flour, then, egg, then panko. Place on drying racks on baking sheet, 12 minutes per side. Saute onion and garlic, cool a bit, add cheeses and herbs. Make sandwiches with cheese and onion filling. Bake 15 additional minutes. Drizzle with molasses.</p>
  </div>
</div>

<div class="separator"></div>

<div class="recipe row">
  <div class="title col-md-12">
    <h2 id="crock-pot-stew">Crock-Pot Stew</h2>
  </div>

  <div class="image col-md-6 order-last">
  </div>

  <div class="instructions col-md-6">
    <h3>Ingredients</h3>
    <ul>
      <li>1 lb beef?</li>
      <li>Carrots</li>
      <li>Potatoes</li>
      <li>Package of dry french onion dip?</li>
    </ul>

    <h4>Directions</h4>
    <p>@TODO</p>
  </div>
</div>

<div class="separator"></div>

<div class="recipe row">
  <div class="title col-md-12">
    <h2 id="chicken-picata">Chicken Picata</h2>
    <p>Makes 4 servings</p>
  </div>

  <div class="image col-md-6 order-last">
    <img class="img-fluid" src="<%= image_path('chicken_picata_front.jpg') %>" />
    <img class="img-fluid" src="<%= image_path('chicken_picata_back.jpg') %>" />
  </div>

  <div class="instructions col-md-6">
    <h3>Ingredients</h3>
    <ul>
      <li>4 breasts</li>
      <li>½ cup mixture flour, salt, pepper, butter, and oil</li>
      <li>2-4 tablespoons madeira wine</li>
      <li>3 tablespoons fresh lemon</li>
      <li>3-4 tablespoons capers</li>
    </ul>

    <h4>Directions</h4>
    <p>Place breasts between two sheets and pound until ¼-inch thick. Shake and coat with flour mixture.</p>

    <p>Heat butter and oil. Sauté a few at a time, 2 to 3 minutes per side; drain and keep warm.</p>

    <p>Drain all but 2 tablespoons fat. Stir in madeira. Add lemon juice. Return chicken and heat until sauce thickens. Add lemon slices and capers.</p>
  </div>
</div>

<div class="separator"></div>

<div class="recipe row">
  <div class="title col-md-12">
    <h2 id="texas-chili-lone-star-beer">Texas Chili (Lone Star Beer)</h2>
  </div>

  <div class="image col-md-6 order-last">
  </div>

  <div class="instructions col-md-6">
    <h3>Ingredients</h3>
    <ul>
      <li>2 tablespoons vegetable oil</li>
      <li>2 cups of beef, cubed</li>
      <li>1 cup onions</li>
      <li>1 green pepper</li>
      <li>1 clove garlic, minced</li>
      <li>1 12 ounce can tomato paste</li>
      <li>2 jalapenos</li>
      <li>1 ½ tablespoons chili powder</li>
      <li>½ teaspoon crushed red pepper</li>
      <li>½ teaspoon salt</li>
      <li>½ teaspoon dried oregano</li>
      <li>½ teaspoon cumin</li>
      <li>1 15 ounce can of pinto beans, drained</li>
    </ul>

    <h4>Directions</h4>
    <p>Brown meat, onions, bell pepper and garlic. 5 minutes.  Add all remaining except beans for 1 ½ hours.  Add beans for another ½ hour.</p>
  </div>
</div>

<div class="separator"></div>

<div class="recipe row">
  <div class="title col-md-12">
    <h2 id="crepes">Crepes</h2>
  </div>

  <div class="image col-md-6">
    <img class="img-fluid" src="<%= image_path('crepes.jpg') %>" />
  </div>

  <div class="instructions col-md-6">
    <h3>Ingredients</h3>
    <ul>
      <li>2 large eggs</li>
      <li>¾ cup milk</li>
      <li>1 cup flour</li>
      <li>3 tablespoon melted butter</li>
    </ul>

    <h4>Directions</h4>
    <p>Butter pan, add 1 ounce batter, cook for 10 seconds, flip to cook other side.</p>

    <p>Serve with thawed and microwaved frozen strawberries and freshly made whipped cream.  Megan gets butter and sugar, though.</p>

    <h5>Notes</h5>
    <p>Served every Christmas morning after presents.</p>
  </div>
</div>

<div class="separator"></div>

<div class="recipe row">
  <div class="title col-md-12">
    <h2 id="dillon-egg">Dillon Egg</h2>
  </div>

  <div class="image col-md-6 order-last">
  </div>

  <div class="instructions col-md-6">
    <h3>Ingredients</h3>
    <ul>
      <li>1 Egg</li>
    </ul>

    <h4>Directions</h4>
    <p>Spray a coffee mug with Pam. Crack egg into the mug. Beat egg and microwave 1 minute. Good for dogs and young children.</p>

    <h5>Notes</h5>
    <p>Named for our first dog, Dillon, who as named after one of our favorite camping locations: Dillon, CO.</p>
  </div>
</div>

<div class="separator"></div>

<div class="recipe row">
  <div class="title col-md-12">
    <h2 id="french-toast">French Toast</h2>
  </div>

  <div class="image col-md-6">
    <img class="img-fluid" src="<%= image_path('french_toast.jpg') %>" />
  </div>

  <div class="instructions col-md-6">
    <h3>Ingredients</h3>
    <ul>
      <li>4 thick slices sourdough bread, preferably stale</li>
      <li>2 large eggs</li>
      <li>¼ cup milk</li>
      <li>1 teaspoon sugar</li>
      <li>½ teaspoon cinnamon</li>
      <li>½ teaspoon real vanilla extract</li>
      <li>1 tablespoon vegetable oil</li>
    </ul>

    <h4>Directions</h4>
    <p>Beat eggs milk, sugar, cinnamon, and vanilla in a bowl. Soak bread in egg mixture until saturated. Fry in oil until browned, 5 minutes a side. Serve buttered, with real maple syrup and a sprinkle of powdered sugar.</p>
  </div>
</div>

<div class="separator"></div>

<div class="recipe row">
  <div class="title col-md-12">
    <h2 id="german-puffed-apple-pancake">German Puffed Apple Pancake</h2>
    <p>Makes 4 servings</p>
  </div>

  <div class="image col-md-6 order-last">
    <img class="img-fluid" src="<%= image_path('german_puffed_apple_pancake.jpg') %>" />
  </div>

  <div class="instructions col-md-6">
    <h3>Ingredients</h3>
    <ul>
      <li>1C whole milk</li>
      <li>4 large eggs</li>
      <li>3T sugar</li>
      <li>1t vanilla extract</li>
      <li>1/2t salt</li>
      <li>1/4t ground cinnamon</li>
      <li>2/3C All purpose flour</li>
      <li>4T unsalted butter</li>
      <li>12oz. Golden Delicious apples, peeled, cored, thinly sliced</li>
      <li>3T (packed) golden brown sugar</li>
      <li>Powdered sugar (optional)</li>
    </ul>

    <h4>Directions</h4>
    <p>Preheat oven to 425 degrees. Whisk, milk eggs, sugar, vanilla, salt, and cinnamon in large bowl until well blended. Add flour and whisk until batter is smooth. Place butter in a 13x9-inch glass baking dish. Place dish in oven until butter melts, about 5 minutes. Remove dish from oven. Place apple slices in overlapping rows atop melted butter in baking dish. Return to oven and bake until apples begin to soften slightly and butter is bubbling and beginning to brown around edges of dish, about 10 minutes. Pour batter over apples in dish and sprinkle with brown sugar. Bake pancake until puffed and brown, about 20 minutes. Sprinkle with powdered sugar, if desired. Serve warm.</p>

    <h5>Notes</h5>
    <p>Bon Appetit recipe</p>
  </div>
</div>

<div class="separator"></div>

<div class="recipe row">
  <div class="title col-md-12">
    <h2 id="ginger-shrimp-pot-stickers">Ginger Shrimp Pot Stickers</h2>
  </div>

  <div class="image col-md-6">
    <img class="img-fluid" src="<%= image_path('ginger_shrimp_potstickers.jpg') %>" />
  </div>

  <div class="instructions col-md-6">
    <h3>Ingredients</h3>
    <ul>
      <li>Pot Stickers</li>
      <li>¾ cup shredded green cabbage</li>
      <li>⅓ cup chopped green onions</li>
      <li>¼ cup matchstick-cut carrots</li>
      <li>2 tablespoons chopped fresh cilantro</li>
      <li>1 teaspoon low-sodium soy sauce</li>
      <li>2 teaspoons minced peeled fresh ginger</li>
      <li>1 teaspoon dark sesame oil</li>
      <li>½ teaspoon salt</li>
      <li>½ pound cooked peeled small shrimp</li>
      <li>Dash hot sauce</li>
      <li>24 wonton wrappers</li>
      <li>2 tablespoons cornstarch</li>
      <li>1 tablespoon canola oil, divided</li>
      <li>1 cup water, divided</li>
    </ul>

    <h4>Sauce</h4>
    <ul>
      <li>¼ cup water</li>
      <li>¼ cup peanut butter</li>
      <li>2 tablespoons low-sodium soy sauce</li>
      <li>1 ½ tablespoons seasoned rice vinegar</li>
      <li>1 ½ tablespoons chile paste with garlic (i.e. sambal oelek)</li>
      <li>½ teaspoon sugar</li>
    </ul>

    <h4>Directions</h4>
    <p>To prepare pot stickers, combine first 10 ingredients in a food processor; pulse 4 times or until coarsely chopped. Working with 1 wonton wrapper at a time (cover remaining wrappers with a damp towel to prevent drying), spoon about 1 ½ teaspoons shrimp mixture into center of each wrapper. Moisten edges of dough with water. Moisten edges of dough with water; bring 2 opposite corners to center, pinching points to seal. Bring remaining 2 corners to center, pinching points to seal. Pinch 4 edges together to seal. Place pot stickers on a large baking sheet sprinkled with cornstarch. Heat 1 ½ teaspoons canola oil in a large nonstick skillet over medium-high heat. Add 12 pot stickers to pan; cook 2 minutes or until bottoms are golden brown. Slowly add ½ cup water to pan; cover and cook 4 minutes. Uncover and cook 3 minutes or until liquid evaporates. Repeat procedure with remaining 1 ½ teaspoons canola oil, 12 pot stickers, and ½ cup water. To prepare sauce, combine ¼ cup water and next 5 ingredients (through sugar) in a small bowl, stirring with a whisk. Serve sauce with pot stickers. Garnish with chopped green onions, if desired.</p>
  </div>
</div>

<div class="separator"></div>

<div class="recipe row">
  <div class="title col-md-12">
    <h2 id="goulash">Rachel's Goulash</h2>
  </div>

  <div class="image col-md-6 order-last">
    <img class="img-fluid" src="<%= image_path('goulash.jpg') %>" />
  </div>

  <div class="instructions col-md-6">
    <h3>Ingredients</h3>
    <ul>
      <li>½ pound ground beef</li>
      <li>Onion</li>
      <li>Macaroni</li>
      <li>1 can chopped tomatoes</li>
      <li>1 can tomato sauce</li>
      <li>Tomato juice</li>
    </ul>

    <h4>Directions</h4>
    <p>Brown ground beef with onions. Boil macaroni and drain. Add 1 can chopped tomatoes, 1 can tomato sauce, and extra tomato juice to desired consistency. </p>
  </div>
</div>

<div class="separator"></div>

<div class="recipe row">
  <div class="title col-md-12">
    <h2 id="ham-balls">Ham Balls</h2>
  </div>

  <div class="image col-md-6 order-last">
    <img class="img-fluid" src="<%= image_path('ham_balls.jpg') %>" />
  </div>

  <div class="instructions col-md-6">
    <h3>Ingredients</h3>
    <ul>
      <li>1 ½ pound ground ham</li>
      <li>1 pound ground pork</li>
      <li>½ cup chopped onion</li>
      <li>2 beaten eggs</li>
      <li>1 teaspoon prepared mustard</li>
      <li>¼ cup brown sugar</li>
      <li>1 cup tomato juice</li>
      <li>¾ cup crackers</li>
    </ul>

    <h4>Directions</h4>
    <p>Make into 15 balls and place on cookie sheet.  For the topping mix brown sugar and mustard.  As the meat starts to make the juice, mix it with the liquid with topping and pour over balls several times.  Bake about 1 hour at 350 degrees.</p>
  </div>
</div>

<div class="separator"></div>

<div class="recipe row">
  <div class="title col-md-12">
    <h2 id="holiday-ham">Holiday Ham</h2>
  </div>

  <div class="image col-md-6">
    <img class="img-fluid" src="<%= image_path('ham.jpg') %>" />
    <img class="img-fluid" src="<%= image_path('ham_2.jpg') %>" />
  </div>

  <div class="instructions col-md-6">
    <h3>Ingredients</h3>
    <ul>
      <li>1 salty, moldy, dry-hung country ham, usually bought somewhere wacky in the South</li>
    </ul>

    <h4>Directions</h4>
    <p>Ask R.G. (he's the expert). Soak it in water. Scrub the mold off with a stiff brush. Brine it in Coke (optional). Cook it. Glaze it. Eat it.</p>

    <h5>Notes</h5>
    <p>After eating on it for a few days, Dad will eventually say, "Abraham Lincoln was asked once to define eternity. He thought about it a bit, and said: "Two men and a ham."</p>
  </div>
</div>

<div class="separator"></div>

<div class="recipe row">
  <div class="title col-md-12">
    <h2 id="japanese-curry">
      Japanese Curry (karei raisu)</h2>
  </div>

  <div class="image col-md-6 order-last">
  </div>

  <div class="instructions col-md-6">
    <h3>Ingredients</h3>
    <ul>
      <li>4 tablespoons unsalted butter</li>
      <li>2 tablespoons vegetable oil</li>
      <li>1 large, yellow onion, sliced into half moons</li>
      <li>1 pound protein (beef/ mushrooms/ tofu)</li>
      <li>2 large carrots, irregularly chopped</li>
      <li>1 potato, chopped into ¾ inch cubes</li>
      <li>4 pieces Vermont Curry (not mild)</li>
      <li>1 teaspoon salt</li>
      <li>6 cups white rice</li>
    </ul>

    <h4>Directions</h4>
    <p>Saute onion 5 minutes in fats. Add protein for 5 mintues. Add 4 cups water, potato, carrots. Cook for 1 hour. Add curry and salt, cook for 15 minutes. Serve over rice immediately.</p>
  </div>
</div>

<div class="separator"></div>

<div class="recipe row">
  <div class="title col-md-12">
    <h2 id="lasagna">
      Emily’s Simple Lasagne</h2>
  </div>

  <div class="image col-md-6 order-last">
    <img class="img-fluid" src="<%= image_path('lasagne.jpg') %>" />
  </div>

  <div class="instructions col-md-6">
    <h3>Ingredients</h3>
    <ul>
      <li>1 pound ground beef</li>
      <li>½ pound (box) lasagne noodles</li>
      <li>6 ounce can tomato paste</li>
      <li>8 ounce can tomato sauce</li>
      <li>1 onion, diced</li>
      <li>1 clove garlic, diced</li>
      <li>1 teaspoon italian seasoning</li>
      <li>8 ounces cottage cheese</li>
      <li>8 ounces mozzarella cheese</li>
      <li>*** 1 pineapple - very important***</li>
    </ul>

    <h4>Directions</h4>
    <p>Preheat oven to 350 degrees. Brown ground beef and boil noodles. Mix beef, tomato paste + sauce, onion, garlic and italian spices. Add water for desired consistency. Layer in two quart pan, sauce, noodles, cheese *pineapple*, etc. End with cheese. Bake until cheese is melted ~45 minutes.</p>
  </div>
</div>

<div class="separator"></div>

<div class="recipe row">
  <div class="title col-md-12">
    <h2 id="maidrites">
      Ron’s Maidrites</h2>
  </div>

  <div class="image col-md-6">
    <img class="img-fluid" src="<%= image_path('maidrites.jpg') %>" />
  </div>

  <div class="instructions col-md-6">
    <h3>Ingredients</h3>
    <ul>
      <li>½ cup green pepper, chopped</li>
      <li>⅓ cup celery, chopped</li>
      <li>1 onion, chopped</li>
      <li>1 garlic clove, minced</li>
      <li>1 pound ground beef</li>
      <li>1 8-ounce tomato sauce</li>
      <li>¼ cup ketchup</li>
      <li>2 squirts mustard</li>
      <li>2 tablespoons western dressing</li>
    </ul>

    <h4>Directions</h4>
    <p>Apparently just mix it all up and heat and serve on buns.</p>
  </div>
</div>

<div class="separator"></div>

<div class="recipe row">
  <div class="title col-md-12">
    <h2 id="meatball-cabbage-soup">
      Meatball Cabbage Soup</h2>
  </div>

  <div class="image col-md-6 order-last">
    <img class="img-fluid" src="<%= image_path('meatball_cabbage_soup.jpg') %>" />
  </div>

  <div class="instructions col-md-6">
    <h3>Ingredients</h3>
    <ul>
      <li>1 lb ground beef</li>
      <li>1 egg</li>
      <li>⅓ C. Oatmeal</li>
    </ul>

    <ul>
      <li>1 Qt. + 1 Pint water</li>
      <li>2 beef boullion cubes</li>
      <li>4 C. chopped cabbage</li>
      <li>1.5 C. spaghetti sauce</li>
    </ul>

    <h4>Directions</h4>
    <p>Combine ground beef, egg, and oatmeal.  Roll into walnut-sized balls and bake for 20 minutes at 350.  In soup pan, add water with boullion, cabbage, spaghetti sauce, and meatballs.  Simmer for 1 hour.</p>
  </div>
</div>

<div class="separator"></div>

<div class="recipe row">
  <div class="title col-md-12">
    <h2 id="pasta-orientale">
      Pasta Orientale</h2>
    <p>Makes 4-6 servings</p>
  </div>

  <div class="image col-md-6">
    <img class="img-fluid" src="<%= image_path('pasta_orientale.jpg') %>" />
  </div>

  <div class="instructions col-md-6">
    <h3>Ingredients</h3>
    <ul>
      <li>4 tablespoons corn oil, divided</li>
      <li>4 cups shredded cabbage</li>
      <li>1 sweet red pepper, cut in thin strips</li>
      <li>6 ounces snow peas, cut in half</li>
      <li>2 large cloves garlic, minced</li>
      <li>1 teaspoon minced fresh ginger (or ½ teaspoon ground)</li>
      <li>¾ pound lean boneless pork, cut in thin strips</li>
      <li>3 tablespoons soy sauce</li>
      <li>3 tablespoons dry sherry</li>
      <li>1 tablespoon cider vinegar</li>
      <li>½ teaspoon hot pepper sauce</li>
      <li>6 ounces tri-colored rotini</li>
    </ul>

    <h4>Directions</h4>
    <p>In 12-inch skillet, heat 2 tablespoons corn oil over medium-high heat. Add cabbage, red pepper, and snow peas; stir fry 3 minutes or until tender-crisp. Remove. Add remaining 2 tablespoons corn oil to skillet. Add garlic and ginger; sauté 30 seconds. Add pork; stir fry 2 minutes or until no longer pink. Add soy sauce, sherry, vinegar, and hot pepper sauce. Stirring constantly, bring to a boil. Reduce heat and simmer 1 minute. Remove from heat. Add pasta and vegetable; toss to coat.</p>
  </div>
</div>

<div class="separator"></div>

<div class="recipe row">
  <div class="title col-md-12">
    <h2 id="peak-to-peak-pancake">
      Peak to Peak Pancake</h2>
  </div>

  <div class="image col-md-6 order-last">
    <img class="img-fluid" src="<%= image_path('peak_to_peak_pancake.jpg') %>" />
  </div>

  <div class="instructions col-md-6">
    <h3>Ingredients</h3>
    <ul>
      <li>2 ½ tablespoons butter</li>
      <li>1 ¼ cup milk</li>
      <li>¾ cup flour</li>
      <li>3 eggs</li>
      <li>⅓ cup sugar</li>
      <li>¼ teaspoon salt</li>
      <li>¼ teaspoon pure vanilla</li>
      <li>fresh berries</li>
      <li>maple syrup, heated</li>
    </ul>

    <h4>Directions</h4>
    <p>Preheat oven to 400℉. Place butter in 9-inch glass pie pan and melt in oven. In blender combine milk, flour, eggs, sugar, salt, and vanilla and process until smooth. Remove pie pan from oven and increase oven temp to 425℉. Pour batter into pie pan and bake 20 minutes. Reduce to 325℉ and bake 8 minutes. Invert on serving plate, sprinkle with powdered sugar, serve with fresh berries and syrup.</p>

    <h5>Notes</h5>
    <p>Recipe from Debbie and Randy Huebner</p>
  </div>
</div>

<div class="separator"></div>

<div class="recipe row">
  <div class="title col-md-12">
    <h2 id="pork-chops-with-corn-dressing">
      Pork Chops with Corn Dressing</h2>
  </div>

  <div class="image col-md-6">
    <img class="img-fluid" src="<%= image_path('pork_chops_with_corn_dressing.jpg') %>" />
  </div>

  <div class="instructions col-md-6">
    <h3>Ingredients</h3>
    <ul>
      <li>4 pork chops, 1-inch thick</li>
      <li>salt</li>
      <li>pepper</li>
      <li>soft white bread</li>
      <li>1 3-ounce can cream style corn</li>
      <li>½ green pepper, chopped</li>
      <li>1 small onion, chopped</li>
      <li>½ stick of butter, melted</li>
    </ul>

    <h4>Directions</h4>
    <p>Brown chops, season with salt and pepper. Place in a glass baking dish. Break bread in bowl, allowing 2 slices per chop. Add rest of ingredients and mix well. Place on mound on top of chops. Bake uncovered at 350℉ approximately 1 hour.</p>
  </div>
</div>

<div class="separator"></div>

<div class="recipe row">
  <div class="title col-md-12">
    <h2 id="pork-tenderloin-diane">
      Pork Tenderloin Diane</h2>
    <p>Makes 4 servings</p>
  </div>

  <div class="image col-md-6 order-last">
    <img class="img-fluid" src="<%= image_path('pork_tenderloin_diane.jpg') %>" />
  </div>

  <div class="instructions col-md-6">
    <h3>Ingredients</h3>
    <ul>
      <li>1 lb pork tenderloin, but into 8 pieces</li>
      <li>2 teaspoon lemon pepper</li>
      <li>2 tablespoon butter</li>
      <li>2 tablespoon lemon juice</li>
      <li>1 tablespoon Worcestershire sauce</li>
      <li>1 teaspoon Dijon mustard</li>
      <li>1 tablespoon minced parsley or chives</li>
    </ul>

    <h4>Directions</h4>
    <p>Press each slice to 1” medallions. Sprinkle surfaces with lemon pepper. Heat butter in skillet, cook tenderloins 3-4 minutes on each side. Remove to serving platter, keep warm. Add lemon juice, worcestershire sauce and mustard to skillet, cook stirring with pan juices, until heated through. Pour over medallions and sprinkle with parsley. Serve.</p>
  </div>
</div>

<div class="separator"></div>

<div class="recipe row">
  <div class="title col-md-12">
    <h2 id="redfish-meuniere">
      Redfish Meuniere</h2>
    <p>Makes 1 serving</p>
  </div>

  <div class="image col-md-6">
    <img class="img-fluid" src="<%= image_path('redfish_meuniere.jpg') %>" />
  </div>

  <div class="instructions col-md-6">
    <h3>Ingredients</h3>
    <ul>
      <li>1 6-8 ounce redfish fillet</li>
      <li>Flour to coat</li>
      <li>3 ounces clarified butter</li>
      <li>6 small shrimp</li>
      <li>1 tablespoon worcestershire sauce</li>
      <li>½ teaspoon Louisiana or Crystal hot sauce</li>
      <li>1 lemon, juiced</li>
      <li>2 teaspoons butter, whole</li>
      <li>Green onions, minced for garnish</li>
    </ul>

    <h4>Directions</h4>
    <p>Coat redfish with flour. Sauté in clarified butter until done. Turn once. Place on serving platter. Add shrimp to skillet. Sauté until pink (2 or 3 minutes). Add worcestershire and hot sauce and swirl; remove from heat. Add lemon and whole butter; swirl until butter is incorporated into sauce. Spoon over fish and garnish with green onions. Serve with rice. Recipe from Coop’s Place in New Orleans.</p>

    <h5>Notes</h5>
    <p>Can be used on virtually any fillet of fish, but Coop’s uses redfish, trout, or flounder.</p>
  </div>
</div>

<div class="separator"></div>

<div class="recipe row">
  <div class="title col-md-12">
    <h2 id="salmon-with-brown-sugar-sauce">
      Salmon with Brown Sugar Sauce</h2>
    <p>Makes 1 serving</p>
  </div>

  <div class="image col-md-6 order-last">
    <img class="img-fluid" src="<%= image_path('salmon_with_brown_sugar_sauce.jpg') %>" />
    <img class="img-fluid" src="<%= image_path('salmon_with_brown_sugar_sauce_recipe_front.jpg') %>" />
    <img class="img-fluid" src="<%= image_path('salmon_with_brown_sugar_sauce_recipe_back.jpg') %>" />
  </div>

  <div class="instructions col-md-6">
    <h3>Ingredients</h3>
    <ul>
      <li>Salmon filets</li>
      <li>3 tablespoons brown sugar</li>
      <li>1 tablespoon soy sauce</li>
      <li>4 teaspoons hot mustard</li>
      <li>1 teaspoon rice vinegar</li>
    </ul>

    <h4>Directions</h4>
    <p>Combine in saucepan bring to boil, remove from heat.</p>
    <p>Place fish on foil-lined pan, coat with cooking spray.</p>
    <p>Bake at 425 for 12 minutes.</p>
    <p>Remove from oven. Preheat broiler.</p>
    <p>Brush fish with sugar mixture, then broil from 3 inches from boiler for 3 minutes.</p>
  </div>
</div>

<div class="separator"></div>

<div class="recipe row">
  <div class="title col-md-12">
    <h2 id="shish-kabobs">
      Shish Kabobs with Teriyaki Marinade</h2>
  </div>

  <div class="image col-md-6 order-last">
  </div>

  <div class="instructions col-md-6">
    <h3>Ingredients</h3>
    <h4>Teriyaki Marinade</h4>
    <ul>
      <li>1/4 C. cooking oil</li>
      <li>1/4 C. soy sauce</li>
      <li>1/4 C. dry sherry</li>
      <li>1 T. grated ginger</li>
      <li>1 garlic clove, minced</li>
      <li>2 T. molasses</li>
    </ul>

    <h4>Kabobs</h4>
    <ul>
      <li>beef, cut into 1 inch cubes</li>
      <li>canned potatoes, cut in half if large</li>
      <li>jarred whole mushrooms</li>
      <li>bell peppers, large pieces</li>
      <li>onion, large pieces</li>
      <li>pineapple chunks</li>
    </ul>

    <h4>Directions</h4>
    <p>Soak skewers in water 10-15 minutes. Mix marinade ingredients together. Place all shish kabob ingredients in a large plastic bag with marinade. Marinate beef at least 1 hour (vegetables can be marinated separately for less time). Grill and serve.</p>
  </div>
</div>

<div class="separator"></div>

<div class="recipe row">
  <div class="title col-md-12">
    <h2 id="shrimp-creole">
      Shrimp Creole</h2>
  </div>

  <div class="image col-md-6">
    <img class="img-fluid" src="<%= image_path('shrimp_creole.jpg') %>" />
  </div>

  <div class="instructions col-md-6">
    <h3>Ingredients</h3>
    <ul>
      <li>¾ cup chopped onion</li>
      <li>1 clove garlic, minced</li>
      <li>1 medium green pepper, finely chopped</li>
      <li>½ cup celery finely chopped</li>
      <li>2 tablespoon</li>
      <li>1 8-ounce can tomato sauce</li>
      <li>½ cup water</li>
      <li>1 bay leaf</li>
      <li>1 teaspoon minced fresh parsley</li>
      <li>½ teaspoon salt</li>
      <li>⅛ teaspoon cayenne pepper</li>
      <li>7 ounces shrimp</li>
    </ul>

    <h4>Directions</h4>
    <p>In medium skillet, sauté onion, garlic, green pepper, and celery in butter about 5 minutes or until tender. Remove from heat; stir in tomato sauce, water, bay leaf, parsley, salt, and pepper. Simmer 10 minutes. Add additional water, if needed. Add shrimp. Bring mixture to a boil; cook covered over medium heat 5 minutes. Serve over fluffy white rice.</p>
  </div>
</div>

<div class="separator"></div>

<div class="recipe row">
  <div class="title col-md-12">
    <h2 id="shrimp-meuniere">
      Shrimp Meuniere</h2>
    <p>Makes 4 servings</p>
  </div>

  <div class="image col-md-6 order-last">
  </div>

  <div class="instructions col-md-6">
    <h3>Ingredients</h3>
    <ul>
      <li>2 cloves garlic</li>
      <li>½ teaspoon salt</li>
      <li>¼ cup melted butter</li>
      <li>2 pounds shrimp, shelled and deveined</li>
      <li>2 tablespoons lemon juice</li>
      <li>1 tablespoon parsley, chopped</li>
      <li>1 large skillet</li>
    </ul>

    <h4>Directions</h4>
    <p>Crush garlic with salt into paste. Add butter and oil and heat. Add shrimp and fry gently, stirring often for 5-10 minutes or until done. Remove from heat; add lemon juice and garnish with parsley.</p>
  </div>
</div>

<div class="separator"></div>

<div class="recipe row">
  <div class="title col-md-12">
    <h2 id="summer-salad">
      Summer Salad</h2>
  </div>

  <div class="image col-md-6 order-last">
    <img class="img-fluid" src="<%= image_path('summer_salad.jpg') %>" />
  </div>

  <div class="instructions col-md-6">
    <h3>Ingredients</h3>
    <ul>
      <li>4 slices smoked salmon, cut into 1 inch pieces</li>
      <li>8 mushrooms, cut into quarters</li>
      <li>2 tablespoons butter</li>
      <li>1 head boston lettuce, torn into bite-sized pieces</li>
      <li>2 tomatoes, largely chopped</li>
      <li>8 radishes, sliced</li>
      <li>1 tablespoon fresh chervil</li>
      <li>1 tablespoon fresh parsley</li>
      <li>1 teaspoon chives</li>
      <li>1 tablespoon chopped dill</li>
    </ul>

    <h4>Sour Cream Dressing</h4>
    <ul>
      <li>1 cup sour cream</li>
      <li>2 teaspoons tarragon vinegar</li>
      <li>1 tablespoon white vinegar</li>
      <li>1 teaspoon horseradish</li>
      <li>½ teaspoon salt</li>
      <li>Fresh pepper</li>
    </ul>

    <h4>Directions</h4>
    <p>Beat dressing ingredients together. In a skillet lightly brown butter, add salmon and mushrooms. Saute 5 minutes. In a large bowl mix lettuce and cold vegetables and herbs. Add hot salmon and mushrooms. Pour dressing over salad, mix well, and serve at once.</p>

    <h5>Notes</h5>
    <p>Recipe from the Ostblooms</p>
  </div>
</div>

<div class="separator"></div>

<div class="recipe row">
  <div class="title col-md-12">
    <h2 id="tuna-noodle-casserole">
      Jane's Tuna Noodle Casserole</h2>
  </div>

  <div class="image col-md-6">
    <img class="img-fluid" src="<%= image_path('tuna_noodle_casserole_1.jpg') %>" />
    <img class="img-fluid" src="<%= image_path('tuna_noodle_casserole_2.jpg') %>" />
  </div>

  <div class="instructions col-md-6">
    <h3>Ingredients</h3>
    <ul>
      <li>6 oz egg noodles</li>
      <li>6 ½ oz tuna, dried and flaked</li>
      <li>½ cup salad olives chopped</li>
      <li>1 cup processed cheese (4 oz)</li>
      <li>¾ cup milk</li>
      <li>2 eggs beaten</li>
      <li>1 t garlic salt</li>
      <li>¼ t dry mustard</li>
      <li>1 can mushroom soup</li>
    </ul>

    <h4>Directions</h4>
    <p>Cook noodles, add tuna, olives, cheese and mix.  Transfer to greased casserole dish.  Blend eggs, milk, garlic salt, mustard and soup in sauce pan.  Pour into casserole.  Bake covered in 350 degree oven 45-60 minutes.  Bake uncovered for last 15 minutes.</p>
  </div>
</div>

<div class="separator"></div>

<div class="recipe row">
  <div class="title col-md-12">
    <h2 id="turkey-enchiladas">
      Turkey Enchiladas</h2>
  </div>

  <div class="image col-md-6">
    <img class="img-fluid" src="<%= image_path('turkey_enchiladas.jpg') %>" />
  </div>

  <div class="instructions col-md-6">
    <h3>Ingredients</h3>
    <ul>
      <li>@TODO</li>
    </ul>

    <h4>Directions</h4>
    <p>@TODO</p>
  </div>
</div>

<div class="separator"></div>

<div class="recipe row">
  <div class="title col-md-12">
    <h2 id="vegetable-cheese-soup">
      Vegetable Cheese Soup</h2>
  </div>

  <div class="image col-md-6 order-last">
    <img class="img-fluid" src="<%= image_path('vegetable_cheese_soup.jpg') %>" />
  </div>

  <div class="instructions col-md-6">
    <h3>Ingredients</h3>
    <ul>
      <li>1 quart + 1 cup water</li>
      <li>2 teaspoon chicken bouillon</li>
      <li>1 cup shredded carrots</li>
      <li>⅔ cup frozen corn</li>
      <li>⅔ cup frozen peas</li>
      <li>2 ½ cups shredded raw potatoes</li>
      <li>¼ cup chopped onion</li>
      <li>1 ½ teaspoons parsley flakes</li>
      <li>1 10 ounce can cream of celery soup</li>
      <li>2 cups diced American cheese</li>
    </ul>

    <h4>Directions</h4>
    <p>In 3 quart sauce pan combine water, bouillon, carrots, corn, peas, potatoes, onion, and parsley flakes. Bring to a boil. Turn down to a simmer and cook for 15 minutes or until vegetables are tender. Add soup and cheese. Simmer and stir until cheese is melted and smooth.</p>

    <h5>Notes</h5>
    <p>Recipe from UNI catering.</p>
  </div>
</div>

<div class="separator"></div>

<div class="recipe row">
  <div class="title col-md-12">
    <h2 id="verola-hartwigs-macaroni-and-cheese">
      Verola Hartwig’s Macaroni and Cheese</h2>
  </div>

  <div class="image col-md-6">
    <img class="img-fluid" src="<%= image_path('verola_hartwigs_macaroni_and_cheese.jpg') %>" />
  </div>

  <div class="instructions col-md-6">
    <h3>Ingredients</h3>
    <ul>
      <li>2 cups macaroni, boiled until slightly al dente</li>
      <li>1 - 1½ cups non-skim milk</li>
      <li>2 cups chopped cheeses</li>
      <li>[Scott & Jane’s suggestion: 5 kinds including Velvetta, sharp cheddar, peeperjack, a smoked cheese + any white cheese]</li>
    </ul>

    <h4>Directions</h4>
    <p>Combine in layers in 2 quart casserole. Bake, covered with foil, for 35-45 minutes. Uncover, top with crushed barbeque chips, and bake 5 more minutes.</p>
  </div>
</div>

<div class="separator"></div>
